  <!-- Image of location/map -->
  <!--img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%;"-->
  
  <!-- Footer -->
  <footer class="page-footer font-small light-blue lighten-3">
    <!-- Footer Elements -->
    <div class="container-fluid">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
                <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
                <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
                <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
                <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
                <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
     <p>Copyright &copy; {{copyrightDate}} All rights reserved | This website is made with  <mdb-icon fas icon="heart" size="lg" class="pr-1" aria-hidden="true"></mdb-icon>by SRF Freelance</p>
    </div>
  <!-- Copyright -->
    
    <!--<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>-->
  
    <!--<div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
      <span class="w3-text w3-padding w3-teal w3-hide-small"></span>   
      <a class="w3-button w3-theme" href="#"><span class="w3-xlarge">
      <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>-->
  </footer>