<div class="container">
    <h2 style="color: darkred; text-align: center;">SAINT CAMILLE QUI ES-TU ?</h2> <br>

    <div class="row">

        <div class="col-md-8 col-sm-8 col-lg-8">
            <mdb-card>
                <mdb-card-header>
                    <div class="card-header">Fondateur des Serviteurs des Malades
                    1550-1614 
                    </div>
                    </mdb-card-header>
                <mdb-card-body  style="background-color: rgb(202, 219, 245)">
                  <blockquote class="blockquote mb-0">
                      <span class="media">
                          <p class="p-blockquote">"Rappelez-vous que les malades sont la pupille et le cœur de Dieu 
                              et que ce qui est fait à ces pauvres est fait à Dieu".</p>
                              <img src="../../assets/images/st_camille.jpg" height="170" alt="Generic placeholder image">
                      </span>
<!--                     <footer class="blockquote-footer"><cite title="Source Title">Camille de Lellis</cite><br>  -->
                    <footer>
                       <img src="../../assets/images/signature_gr_stcamille.gif" class="d-inline-block" 
                        alt="signature">
                    </footer>
                  </blockquote>
                </mdb-card-body>
              </mdb-card>
        </div>

        <div class="col-md-4 col-sm-4 col-lg-4">
            <nav class="navbar navbar-light bg-info-color flex-column mt-4 lighten-3 py-4 mb-r font-weight-bold">
                <a class="navbar-brand" style="font-size: 180%;">SOMMAIRE</a>
                <nav mdbScrollSpy="scrollspy3" class="nav nav-pills flex-column">
                    <a class="a-crollspy" [routerLink]="['/st-camille-qui-es-tu']"  fragment="hist">Historique</a>
                    <a class="a-crollspy" [routerLink]="['/st-camille-qui-es-tu']"  fragment="reforme">Sa réforme Hospitalière</a>
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/st-camille-qui-es-tu']" fragment="ref-concept-malade"><mdb-icon fas icon="chevron-right" size="lg" class="pr-2"></mdb-icon>Réforme du concept du malade</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/st-camille-qui-es-tu']" fragment="ref-service-malade"><mdb-icon fas icon="chevron-right" size="lg" class="pr-2"></mdb-icon>Réforme du service du malade</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/st-camille-qui-es-tu']" fragment="ref-personnel"><mdb-icon fas icon="chevron-right" size="lg" class="pr-2"></mdb-icon>Réforme du personnel d'assistance</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link" [routerLink]="['/st-camille-qui-es-tu']" fragment="ref-hôptial"><mdb-icon fas icon="chevron-right" size="lg" class="pr-2"></mdb-icon>Réforme en dehors de l'hôpital</a>
                            </li>
                        </ul>
                    <a class="a-crollspy" [routerLink]="['/st-camille-qui-es-tu']"  fragment="esprit">Son esprit pour le soin des malades</a>
                </nav>
            </nav>
        </div>

    </div>

  
    <div class="row">
      
        <div class="col-sm-12 col-lg-12">
          <div class="scrollspy-example z-depth-1 mt-4 px-4">
                
            <section id="hist">
                <h2 class="h2-section"> HISTORIQUE </h2>
                <p>Italien du XVIème siècle, né à Bucchianico, dans les Abbruzes, le 25 mai 1550. Fils d'un officier militaire. 
                    Orphelin à 18 ans et sans fortune il eut une jeunesse très dissipée, pervertie par la passion du jeu de cartes. 
                    Après avoir vécu une brève carrière militaire, un jour de malchance, il perd tout. 
                    En mendiant à la sortie d’une église, il est embauché pour la construction d’un couvent de moines capucins.
                </p>
                <p>Là, <span style="font-weight: bold; color: black;">il prend conscience de sa vie sans issue et vit une conversion radicale vers Dieu</span>, le 02 février 1575, à Manfredonia: <cite title="Source Title">« Je veux quitter le monde pour toujours et ne plus commettre de péché volontairement »</cite>; 
                    <span style="font-weight: bold; color: black;">il demande son admission au monastère</span>. 
                    Mais un ulcère à la jambe l’oblige à quitter les Capucins et à entrer à l’hôpital pour se faire soigner.
                </p>
                <img src="../../assets/images/ph_stcamille1.jpg" height="340" style="margin-left: 3%;" class="rounded float-right" alt="img">
                <p>         </p>
                <p><span style="color: rgb(29, 99, 190);">Il est frappé par la détresse des autres malades et s'engage comme infirmier. </span> <span style="font-weight: bold; color: black;">L'indifférence de ses collègues, des mercenaires ou repris de justice, vis-à-vis des malades le bouleverse.</span>
                     Il ressent le besoin de réunir autour du Crucifix des hommes qui partagent son amour des malades. <span style="color: rgb(29, 99, 190);">Il est guidé, en cette démarche, par son père spirituel, saint Philippe Néri. </span><span style="font-weight: bold; color: black;">En prenant soin des malades, ce sont les plaies du Christ qu'il soigne.</span> 
                    Sa charité rayonnante lui attire de jeunes disciples. Ces volontaires, qui se réunissent pour prier ensemble et rivalisent de tendresse envers les malades, constituent le noyau initial des Clercs Réguliers Ministres des Infirmes que l'on appellera par la suite les « <span style="font-weight: bold; color: black;">Camilliens</span> » ou « <span style="font-weight: bold; color: black;">Serviteurs des Malades</span> ».
                </p>
                <p><span style="font-weight: bold; color: black;">C'est en 1586 que le pape Sixte Quint reconnaît la Congrégation et autorise le port de la grande Croix rouge sur leur soutane</span>. La mission de ces nouveaux religieux est « l'exercice des oeuvres spirituelles et corporelles de miséricorde envers tous les malades, tant dans les hôpitaux et prisons que dans les maisons privées, partout où il faudra. » 
                    Partout où se déclare une peste, il accourt ou envoie ses frères. <span style="font-weight: bold; color: black;">Il finit par mourir d'épuisement à Rome, le 14 Juillet 1614. Canonisé en 1746 par Benoît XIV, il est déclaré patron céleste des hôpitaux et des malades en 1886 et proclamé patron céleste des soignants en 1929</span>. Paul VI en a fait le protecteur particulier du service de santé de l'armée italienne. 
                    <cite title="Source Title">« La musique que je préfère, c’est celle que font les pauvres malades lorsque l’un demande qu’on lui refasse son lit, l’autre qu’on lui rafraîchisse la langue ou qu’on lui réchauffe les pieds. »</cite>
                </p>
            </section>
            <hr>

            <section id="reforme">
                <h2 class="h2-section" > SA REFORME HOSPITALIERE </h2>
                <p>Le pape Benoît XIV a reconnu officiellement en Camille de Lellis un initiateur et le maître d’« une nouvelle école de charité ».</p>
                <p>La Constitution de l’Ordre déclare : « Saint Camille, bénéficiaire lui-même de la miséricorde du Père, à la suite du Christ miséricordieux, fut appelé par Dieu à servir les malades et à enseigner aux autres la manière de le faire ».</p>
                <p> Nous pouvons donc le définir comme « réformateur sanitaire », capable de nos jours encore de suggérer aux chrétiens d’aujourd’hui les principes de base et les manières d’agir pour réaliser une « réforme sanitaire » qui réponde aux exigences évangéliques fondamentales. 
                    Comment Camille a-t-il réalisé « sa » réforme sanitaire ? Nous pouvons le résumer en quatre dimensions.
                </p>

                <section id="ref-concept-malade">
                    <hr style=" margin-left: 22%; margin-top: 5%; margin-bottom: 5%; width:50%;">
                    <h4 style="color: rgb(29, 99, 190); "> Réforme du concept du malade</h4>
                    <img src="../../assets/images/ph_stcamille2.jpg" height="340" class="rounded float-right" alt="img" style="margin-left: 3%;">
                    <p>Saint Camille découvre l’homme, malade, pauvre, marginalisé par la société contemporaine. Il voulait se consacrer à Dieu dans la prière et dans la pénitence et Dieu le met en face du malade et du pauvre. 
                        Dieu l’a amené à l’hôpital au service de cette population miséreuse. Saint Camille voit dans la personne des pauvres et des malades, des « fils de Dieu », qu’il appelle ses « frères ». 
                        D’abord il voit l’homme, puis il discute de ses droits. Droits non pas des idéaux mais des besoins concrets, qui exigent une réponse de la part de celui qui est auprès d’eux. <br>
                        Le malade, selon Camille, est la « personne même du Christ » et « la pupille et le cœur de Dieu », il est « mon Seigneur et mon maître ». Même au mécréant, au blasphémateur, à celui qui l’insulte, Camille dit : « Tu peux me commander ce que tu veux ! ». <br>
                        Et c’est au service de cet homme que Camille dédie sa vie.
                    </p>
                </section>

                <section id="ref-service-malade">
                    <hr style=" margin-left: 22%; margin-top: 5%; margin-bottom: 5%; width:50%;">
                    <h4 style="color: rgb(29, 99, 190); "> Réforme du service du malade</h4>
                    <img src="../../assets/images/ph_stcamille3.jpg" height="340" class="rounded float-left" alt="img" style="margin-right: 3%;">
                    <p>Naturellement Camille se consacre à tout l’homme, car il a compris que l’homme entre à l’hôpital avec tout son être, corps et esprit. 
                        C'est ce qui conduit Camille à devenir prêtre. Il combina la totale disponibilité aux services infirmiers avec le ministère sacerdotal le plus zélé. 
                        C’est ainsi qu’il institua l’Ordre religieux « avec deux ailes », comme il disait: « pères et frères », avec une dignité égale, qui trouvaient leur unité dans l’unité de la personne malade.
                    </p>
                    <p>Sa préoccupation était de répondre à tous les besoins et exigences de la personne malade et de l’enseigner aux personnels de santé. 
                        Camille recommande et enseigne : soins de bouche, réfection des lits, habits chauds, hygiène des locaux. L’hôpital doit devenir la maison de l’« hospitalité ». 
                    </p>
                    <p>Lorsqu’il était lui-même à l’hôpital pour soigner sa jambe, il fut attiré à soigner les malades les plus négligés atteints de typhus et de peste. 
                        Son attention et son dévouement lui attirèrent l’estime des administrateurs qui en firent rapidement le « maître de maison », c'est-à-dire le directeur sanitaire administratif et du personnel tout entier.
                    </p>
                    <p>Dans cette position, il put bien se rendre compte de la manière dont se passaient les choses : médecins improvisés et incompétents, plus intéressés par les expériences que par les soins ; employés venus du désœuvrement ou même de la prison qui brillaient par leur négligence et leur avidité ; hygiène et propreté inconnues, malades maltraités, insultés et abandonnés.
                    </p>
                    <p>C’était vraiment « tout à refaire ». Camille essaya et il commença avec sa bonne volonté et par son exemple. 
                        La tâche était si dure qu’elle aurait découragé même un saint. 
                        Mais même les saints ne peuvent pas prétendre faire tout, tout seul. 
                        Ils ont besoin de l’aide des autres, en plus de l’appui d’en Haut. 
                        Et Camille se mit à chercher « Ces autres » et ensuite à les inviter au même esprit ardent pour le bien des malades. 
                    </p>
                </section>

                <section id="ref-personnel">
                    <hr style=" margin-left: 22%; margin-top: 5%; margin-bottom: 5%; width:50%;">
                    <h4 style="color: rgb(29, 99, 190); "> Réforme du personnel d'assistance</h4>
                    <p>Camille put compter sur l’aide de volontaires pour donner à manger aux malades. 
                        C’est en la fête de l’Assomption 1582 que Camille réalisa l’idée de réunir un groupe de personnes honnêtes et laborieuses qui se dévoueraient aux malades gratuitement et par amour de Dieu. 
                        C’est avec ces premiers compagnons qu’il réforma l’assistance aux malades. Il rédigea un premier document de réforme sanitaire : « Manière et modes que l’on doit observer dans les hôpitaux pour servir les pauvres malades »:
                        25 articles concrets et pratiques, un code déontologique professionnel de 1584, sans prétention mais avec le désir d’atteindre un but : « pour que nous puissions servir les malades en toute charité aussi bien dans l’âme que dans le corps, parce que nous désirons, avec la grâce de Dieu, servir tous les malades avec l’affection que sait apporter une mère à son fils unique malade ».
                    </p>
                    <img src="../../assets/images/ph_stcamille4.jpg" height="340" class="rounded float-left" alt="img" style="margin-right: 3%;">
                    <p>En soignant avec ses compagnons, en les visitant, Camille exigeait chez eux un sens humain et chrétien, une connaissance adéquate des règles d’assistance et de dévouement total et affectueux pour le malade.
                    </p>
                    <p>La correspondance avec les communautés et avec les responsables des hôpitaux constitue un matériel copieux d’enseignements qui ont presque toujours pour thème l’amélioration du service hospitalier et la formation permanente des frères dans leur tâche. 
                    En fait foi, un autre écrit spécifique, en manière de règlement, rédigé en 1607 et composé de 25 articles, intitulé : « Notes sur certaines choses que les nôtres doivent observer lorsqu’ils font la garde ».
                    </p>
                    <p>Mais le document le plus long et le plus complet est celui rédigé par le saint presque au terme de sa vie, au cours d’un séjour prolongé à l’hôpital de Milan (1613). 
                        C’est là que Camille avait déjà fondé une communauté, en y envoyant 14 religieux : celle-ci avait cru en nombre par la suite. 
                        C’est pour elle qu’il a pensé un genre de règlement général d’assistance que l’administration adopta comme officiel pour tout l’hôpital en l’intégrant par la suite avec d’autres prescriptions. 
                        Le texte de Camille, comportant 71 articles, s’intitule : « Règles qu’observeront nos frères dans l’Hôpital Majeur de Milan pour servir en toute perfection les pauvres malades » et il constitue un document d’une grande valeur historique : il sera défini comme la « grande charte de la réforme hospitalière en Italie » (cf. Catalogo della Mostra « La Ca’ Granda », Milan 1981, doc. 119). 
                        Elle concentrait toute la réforme précédente de Camille et l’expérience de toute sa vie au service des malades.
                    </p>
                </section>

                <section id="ref-hôptial">
                    <hr style=" margin-left: 22%; margin-top: 5%; margin-bottom: 5%; width:50%;">
                    <h4 style="color: rgb(29, 99, 190); "> Réforme en dehors de l'hôpital</h4>
                    <p><span style="font-weight: bold; color: black">Un autre aspect de l’œuvre de réforme de saint Camille est à voir dans sa sollicitude pour étendre l’assistance des malades en dehors de l’hôpital.</span>
                    Cette préoccupation allait dans deux directions, l’une vers les malades, l’autre vers ceux qui étaient disposés à les assister.
                    </p>
                    <p>Le premier objectif l’a poussé à atteindre les très nombreux malades qui restaient sans soins dans leurs maisons ou à s’en aller dénicher ceux qui se trouvaient abandonnés dans les taudis ou dans les « grottes » évoquées plus haut. Le second l’a vu toujours employé à <span style="font-weight: bold; color: black">susciter des adhésions de personnes 
                        – ou de groupes de personnes – en dehors du personnel de l’hôpital, pour un service volontaire et gratuit, dans ou hors de l’hôpital.</span>
                        Saint Camille appelait l’espace de l’assistance à domicile le « mare magnum de la charité » : il s’y trouvait une marée multiforme de besogneux, de vieillards, d’orphelins, de personnes seules, de gens sans aucun appui. D’un autre côté, l’animation des volontaires a été un souci qui a accompagné Camille dès les débuts de sa réforme, 
                        lorsque – avant même l’Ordre religieux – <span style="font-weight: bold; color: black">il avait constitué la Congrégation du Très Saint Crucifix, réunissant hommes et femmes bien disposés pour parer aux insuffisances de l’aide tant hospitalière que dans les quartiers pauvres de la ville.</span> 
                    </p>
                    <img src="../../assets/images/ph_stcamille5.jpg" height="340" class="rounded float-left" alt="img" style="margin-right: 3%;">
                    <p>Saint Camille a continué ainsi et étendu la précieuse tradition du volontariat qui avait eu dans l'Église une expression exemplaire au XVe siècle - pour n'en citer qu'une parmi tant d'autres – dans la Compagnie du <span style="font-weight: bold; color: black">Divin Amour, de Gênes, compagnie de laïcs entraînés par la sainte que fut Catherine de Gênes.</span></p>
                    <p>Mais, <span style="font-weight: bold; color: black">en plus des laïcs, Camille a aussi impliqué dans le service des malades des prêtres et des religieux comme saint Philippe Néri et saint Louis de Gonzague</span>, des prélats et des cardinaux de la curie romaine, et les papes eux-mêmes : 
                    toute l'Église, pour Camille, devait ressentir comme sienne l’attention au malade, « <span style="font-weight: bold; color: black">pupille et cœur de Dieu </span>». 
                    En résumé, saint Camille a lancé et réalisé une réforme qui visait à <span style="font-weight: bold; color: black">retrouver la vraie dignité de l’homme, l’assistance totale du malade, la formation des personnels de santé, la collaboration volontaire des laïcs et de toute l’Eglise.</span>
                    </p>
                    <p>La qualité de l’hygiène des hôpitaux en Italie s’est dégradée lors de la deuxième moitié du seizième siècle selon des témoins en contact durable avec le milieu. 
                    En effet il survivait dans la mentalité le préjugé que l’eau et l’air ne sont pas bons pour les malades.
                    </p>
                    <p>Le malade est très sale et le lit où il est couché est souvent rempli de parasites, les agonisants baignant dans leur immondices jusqu’au moment de leur décès. 
                    La propreté manque même dans les habitations des dirigeants des hôpitaux. L’assistance assurée aux malades était aussi déplorable. 
                    Ces responsabilités étaient souvent confiées à des gens non formés, vagabonds qui n’avaient pas d’autre moyen de résoudre le problème du pain quotidien, ou qui avaient des comptes à rendre à la justice et trouvaient ainsi asile et sécurité à l’hôpital. 
                    Ces tristes conditions se répercutaient sur les malades. Ceux-ci étaient maltraités, négligés, méprisés ou purement et simplement frappés.
                    </p>
                    <p>Tous riches, pauvres, compagnies et confréries se proposaient d’assister les malades mais leurs participations et fonds étaient limités. 
                        <span style="font-weight: bold; color: black">Il fallait une réforme radicale </span>, par la constitution d’un organisme de personnes vivant dans le même esprit. <span style="font-weight: bold; color: black">Ce fut la mission de saint Camille de Lellis et des Serviteurs des Malades.</span> 
                    Aérer la salle de 110 m de long sur 18 m de haut dans laquelle brûlaient, jour et nuit, des poêles procurant une chaleur de près de 35°, toute fenêtre fermée. Changer les draps, refaire les paillasses, 
                    laver les pieds des malades avant de les installer dans un lit individuel, séparer les malades infectés et contagieux. Procurer des soins de bouche, inventer des régimes alimentaires en fonction des pathologies.
                    </p>
                </section>

            </section>
            <hr>

            <section id="esprit">
                <h2 class="h2-section">  SON ESPRIT POUR LE SOIN DES MALADES </h2>
                <p>L’Esprit Saint a mis en Camille une dimension humaine et christique lorsqu’il voyait le malade. 
                   Camille croyait voir le Christ dans les malades, et les considérait comme tel. Cette assistance au frère malade était déjà observée dans la règle de saint Pacôme. 
                   Ainsi Camille voyait rouvertes et douloureuses les plaies de son Seigneur Crucifié. Il considérait si vivement la personne du Christ en eux, qu’il leur donnait à manger à genoux et la tête découverte.
                </p>
                <img src="../../assets/images/ph_stcamille6.jpg" height="340" class="rounded float-left" alt="img" style="margin-right: 3%;">
                <p>Cette foi, il l’a prescrit pour tous ses frères religieux : « <span style="font-weight: bold; color: black; font-size: larger;"><cite title="Source Title">chacun regardera le pauvre comme la personne du Christ</cite></span> ». 
                   Le malade est alors considéré comme le centre de son existence chrétienne et de la communauté des religieux dans toutes ses formes d’action. 
                   Le malade comme « signe, sacrement » de la présence du Christ, le guidait dans sa façon d’assister les malades et de s’adresser à eux.
                </p>
                <p>Homme de prière, Camille exigeait de ses frères, pénitences, privation de sommeil pour le service des malades, prioritaire avant tout ! 
                   Qu’elle lui déplaisait cette sorte d’union qui coupait les bras à la charité, car au Paradis on ne manquerait pas de temps pour le contempler. 
                   Quitter Dieu pour Dieu, disait-il !
                </p>
                <p>Camille pouvait dire à un ses religieux qui était réticent à rendre un service à un malade : « <cite title="Source Title">Mon frère, sache que ni toi ni moi nous sommes dignes de remplir ce service.</cite> » 
                   Dans cette optique, l’hôpital était devenu pour Camille son Eglise, le lieu de la rencontre avec son Seigneur.
                </p>
                <p>Après sa renonciation au généralat, il écrivit : « <cite title="Source Title">Le Seigneur m’a fait la grâce que je me tienne à l’hôpital pendant la nuit </cite>». 
                   Entrant à l’hôpital, Camille oubliait ses maux de sa terrible plaie, et même si ses forces étaient épuisées, il retrouvait vigueur. 
                   Parfois « il allait, tout affaibli, d’un lit à l’autre, se tenant aux colonnes pour ne pas tomber. Mais à peine avait-il passé cinq ou six lits, il paraissait se sentir tout revigoré. »
                </p>
                <p>Camille était attiré par l’hôpital, où il se sentait chez lui. Son arrivée à l’hôpital était attendue par les malades comme un moment de grâce. 
                    A un prêtre qui lui demandait si tout se passait bien à l’hôpital, il répondit : « <cite title="Source Title">Et comment ne pourrais-je pas me trouver bien à l’hôpital, m’y trouvant au Paradis terrestre avec l’espoir et le gage d’avoir le Paradis céleste ?</cite> » 
                    <span style="font-weight: bold; color: black">Il était habituellement de nature sombre et mélancolique ; mais lorsqu’il entrait dans un hôpital le ciel s’éclaircissait pour lui, et il semblait que toute obscurité et tristesse lui passait et non seulement lui-même mais tout l’hôpital semblait devenir joyeux.</span> » 
                    Il avait l’habitude de dire à ses religieux : « <cite title="Source Title">Le bon soldat meurt au combat, le bon marin en mer et le bon serviteur des malades à l’hôpital.</cite> »
                </p>
            </section>
            <br>

          </div>
        </div>
    </div>
    <button *ngIf="isShow" type="button" mdbBtn class="open-button relative waves-light image-clignote" (click)="gotoTop()" mdbWavesEffect style="z-index: 6;"><mdb-icon fas icon="chevron-up" size="3x" class="red-text pr-3"></mdb-icon></button>
</div>
