<div class="container">

    <div class="row">

        <div class="col-3" style="margin-top:1cm; margin-bottom: 1cm;">
          <hr>
          <a routerLink="/adminPage" (click)="linkActif(1)" class="navStyle"><h5><i class="fas fa-angle-right pr-3"></i>Album</h5></a>
          <a routerLink="/adminPage" (click)="linkActif(2)" class="navStyle"><h5><i class="fas fa-angle-right pr-3"></i>Bulletin</h5></a>
          <a routerLink="/adminPage" (click)="linkActif(3)" class="navStyle"><h5><i class="fas fa-angle-right pr-3"></i>Newsletter</h5></a>
          <a routerLink="/adminPage" (click)="linkActif(4)" class="navStyle"><h5><i class="fas fa-angle-right pr-3"></i>Actualités</h5></a>
        </div>

        <div class="col-9" style="margin-top:1cm; margin-bottom: 1cm;">
            <hr>

            <!---------------------------------   Album ------------------------------>

            <div *ngIf="actifLink===1">
                <div>
                    <h2 style="display:inline;"><b>Album</b></h2><br>
                    <button type="button" class="btn btn-primary" style="float:right;" (click)=albumSelect(1)>Communauté de Lyon</button>
                    <button type="button" class="btn btn-primary" style="float:right;" (click)=albumSelect(2)>Famille Camillienne</button>
                    <button type="button" class="btn btn-primary" style="float:right;" (click)=albumSelect(3)>Missions camiliennes</button>
                </div>
                

                <div style="margin-top:2cm;" *ngIf="isAlbum">
                            
                    <h4>{{album}}</h4>

                    <form [formGroup]="uploadPhoto" (ngSubmit)="uploadImage()">
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                              <span class="input-group-text">Upload</span>
                            </div>
    
                            <div class="custom-file">
                              <input type="file" class="custom-file-input form-control" id="inputGroupFile01" 
                                     (change)="detectPhoto($event)" formControlName="photo" multiple>
                              <label class="custom-file-label" for="inputGroupFile01" *ngIf="!isdetect">chosir une image...</label>
                              <label class="custom-file-label" for="inputGroupFile01" *ngIf="isdetect">{{imageName}}</label>
                            </div>
                            
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="uploadPhoto.invalid">
                            <i class="fas fa-upload pr-3"></i>Ok
                        </button>
                    </form>

                </div>

                <div *ngIf="isAlbum" style="margin-top:1cm;">
                    <button type="button" class="btn btn-primary" style="float:left;" (click)=printList()>Liste des photos</button>
                    <button type="button" class="btn btn-primary" style="float: right;" (click)=notPrintList()>Cacher la liste</button>
                </div>

                <div style="margin-top:3cm;" *ngIf="isList">
                            <!--Table-->
                    <table class="table table-hover table-fixed">

                        <!--Table head-->
                        <thead>
                            <tr style="background-color: cornflowerblue;">
                                <th>#</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <!--Table head-->
                    
                        <!--Table body-->
                        <tbody style="cursor: pointer;" *ngFor="let photo of albumm.albumphotos; let i = index;">
                            <tr >
                                <th scope="row">{{i}}</th>
                                <td>{{photo.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-secondary btn-sm" 
                                            (click)="modalImageViewer.show()"
                                            (click)="getIndex2(i)">
                                        <i class="fas fa-eye pr-2"></i> Aperçu
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="deletPhoto(i)">
                                        <i class="fas fa-trash pr-2"></i>Supprimer
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    
                    </table>
                    <!--Table-->

                </div>

            </div>

            <!---------------------------------- Ablum Modal ----------------------------->
            <div mdbModal #modalImageViewer="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalPopoversLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalPopoversLabel">{{photoTitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalImageViewer.hide()">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                        <img src="{{urlPhoto}}" alt="" style="max-width:100%;">
                      <div class="modal-body">

                      </div>
                    </div>
                  </div>
            </div>

            <!---------------------------------   BULLETINS ------------------------------>

            <div *ngIf="actifLink===2">
                <div >
                    <h2 style="display:inline;"><b>Bulletin</b></h2>
                    <button type="button" style="float:right;" (click)="modalPush.show()">
                        <i class="fas fa-upload pr-3"></i>nouveau bulletin
                    </button>
                </div>

                <!-- Work Row -->
                <div class="w3-row-padding w3-padding-64" id="work">
                    
                    <div class="w3-quarter" *ngFor="let bulletin of filesReq; let i = index">

                        <button type="button" style="background: transparent; border: none;"
                                (click)="getFileId(i)" 
                                (click)="modalConfirmDeleteFile.show()">
                            <i class="fas fa-trash pr-2"></i>
                        </button>
                        
                        <div class="card-deck">
                            <!-- Card -->
                            <mdb-card>
                              <div class="view overlay waves-light" mdbWavesEffect>
                                <!-- Card img -->
                                <mdb-card-img src="assets/images/pdf.png"  alt="Bulletin d'information"></mdb-card-img>
                                <a>
                                  <div class="mask rgba-white-slight" (click)="basicModal.show()"></div>
                                </a>
                              </div>
                              <!--Card content-->
                              <mdb-card-body>
                                <!--Title-->
                                <mdb-card-title>
                                  <h4 style="color: black; font-weight: bold;">{{bulletin.name}}</h4>
                                </mdb-card-title>
                          
                                <!--Text-->
                                <mdb-card-text> 
                                    publié le: {{bulletin.date| date: 'dd-MM-yyyy'}}
                                </mdb-card-text>
                          
                                <!--<a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>-->
                                <button type="button" mdbBtn color="info" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Afficher</button>
                              </mdb-card-body>
                            </mdb-card>
                          </div>
                          
                          <div mdbModal #basicModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-full-height modal-bottom modal-dialog-scrollable" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <h4 class="modal-title w-100" id="myModalLabel">bulletin {{bulletin}}</h4>
                                </div>
                                <div class="modal-body">
                                  <pdf-viewer src={{bulletin.location}} 
                                              [render-text]="true"
                                              style="display: block;">
                                  </pdf-viewer>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Fermer</button>
                                  <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect>
                                    <a style="color: white;" href={{bulletin.location}}  download="bulletin.pdf">
                                      Télécharger
                                    </a>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    
                </div>
                <!-- Work Row -->
            </div>


            <!---------------------------------   News Letters ------------------------------>
            <div *ngIf="actifLink===3">
                <h2><b>NewsLetter</b></h2>
                <div>
                    <div style="background-color: rgb(129, 129, 129); padding: 10px;margin-top: 0.5cm;">
                        <h4 style="text-align: center;">Nouveau Message</h4>
                    </div>

                    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">

                        <div>
                            <div class="md-form">
                                <i class="fa fa-tag prefix"></i>
                                <label for="form1" style="font-size: 20px;">Objet</label><br><br>
                                <input type="text" id="form1" class="form-control" mdbInput mdbValidate formControlName="subject">
                            </div>
    
                            <div class="md-form amber-textarea active-amber-textarea">
                                <i class="fas fa-pencil-alt prefix"></i>
                                <label for="form22" style="font-size: 20px;">Votre message!</label><br><br>
                                <textarea type="text" id="form22" class="md-textarea form-control" rows="1"
                                          mdbInput mdbValidate formControlName="message">
                                </textarea>
                            </div>
                        </div>  


                        <div style="display:inline;">
                            <input type="file" id="fichier" class="form-control" accept=".pdf,.doc,.docx" #hiddenfileinput 
                                   (change)="detectEmailFiles($event)" mdbInput mdbValidate formControlName="fichier" 
                                   style="display: none" multiple>
                            <button type="button" (click)="hiddenfileinput.click()"  class="waves-effect waves-light btn" style="float:right;">
                                <i class="fas fa-link fa-lg"></i>
                            </button>
    
                            <button class="btn btn-info" type="submit" [disabled]="emailForm.invalid" 
                                    style="float:right;" (click)="centralModalSuccess.show()">
                                <i class="fas fa-paper-plane pr-3"></i>Envoyer
                            </button>
                        </div>
                        <div *ngFor="let emfn of emailFileName; let i = index">
                            <h5 *ngIf="isFiledetected"><i class="fas fa-file-pdf pr-3"></i><b>{{emfn}}</b></h5>
                        </div>

                    </form>

                </div>
            </div>

            <!-------------------------------------------- ACTUALITES --------------------------------------->

            <div *ngIf="actifLink===4">
                <h2><b>Actualités</b></h2><br>

                <form [formGroup]="comForm" (ngSubmit)="sendCom()">

                    <div class="form-group green-border-focus">
                        
                        <input class="form-control form-control-sm" type="text" placeholder="Titre"
                               mdbInput mdbValidate formControlName="title"><br>

                        <textarea type="text" class="form-control" id="exampleFormControlTextarea5" rows="3" placeholder="votre actualité..."
                                  mdbInput mdbValidate formControlName="content"></textarea>

                        <button type="submit" class="btn btn-info" style="margin-left: 0%; margin-top: 0.5cm;"
                                [disabled]="comForm.invalid" (click)="centralModalSuccess.show()">
                                <i class="fas fa-paper-plane pr-3"></i>Publier
                        </button>

                    </div>

                </form>

                <div style="margin-top: 1cm;">
                    <h3><b>Historiques</b></h3>
                    <table class="table table-hover table-fixed">

                        <!--Table head-->
                        <thead>
                            <tr style="background-color: cornflowerblue;">
                                <th>#</th>
                                <th>Titre</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <!--Table head-->
                    
                        <!--Table body-->
                        <tbody style="cursor: pointer;" *ngFor="let c of commun; let i = index">
                            <tr >
                                <th scope="row">{{c.id}}</th>
                                <td>{{c.title}}</td>
                                <td>{{c.date}}</td>
                                <td>
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        <i class="fas fa-pen pr-2"></i>modif
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash pr-2"></i>supp
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    
                    </table>
                    <!--Table-->
                </div>
            </div>


        </div>
    </div>

    

    <!---------------------------------------------- PRIERES ---------------------------------------->

    <div>
        <hr>
        <h2 style="text-align: center;"><b>INTENTIONS DE PRIERE</b></h2>
        <!--Table-->
        <table class="table table-hover table-fixed">

            <!--Table head-->
            <thead>
                <tr style="background-color: cornflowerblue;">
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!--Table head-->
        
            <!--Table body-->
            <tbody style="cursor: pointer;" *ngFor="let p of prayer; let i = index">
                <tr >
                    <th scope="row">{{p.id}}</th>
                    <td>Intention de prière envoyée par <b>{{p.name}}</b></td>
                    <td>{{p.date | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm"
                                              (click)="getSinglePrayer(i)"
                                              (click)="sideModalTR.show()">
                            <i class="fas fa-pen pr-2"></i>modif
                        </button>
                        <button type="button" class="btn btn-danger btn-sm"
                                              (click)="getId(i)"
                                              (click)="modalConfirmDelete.show()">
                            <i class="fas fa-trash pr-2"></i>supp
                        </button>
                        <button type="button" *ngIf="!p.activated"
                                              class="btn btn-success btn-sm px-2"
                                              (click)="onValidate(p)">
                            <i class="far fa-thumbs-up" aria-hidden="true"></i>
                        </button>
                        <button type="button" *ngIf="p.activated"
                                              class="btn btn-danger btn-sm px-2"
                                              (click)="invalid(p)">
                            <i class="far fa-thumbs-down" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <!--Table body-->
        
        </table>
        <!--Table-->



    <!------------------------------------------------------------------------------------------------>


    <!-- Central Modal Medium Success -->
    <div mdbModal #centralModalSuccess="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

    <div class="modal-dialog modal-notify modal-success" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead">Email Envoyée</p>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" 
                                              (click)="centralModalSuccess.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
            <h2>Message envoyée avec succès</h2>
          </div>
        </div>

        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-outline-success waves-effect" 
                           data-dismiss="modal" 
                           (click)="centralModalSuccess.hide()">OK</a>
        </div>
      </div>
      <!--/.Content-->

      </div>
    </div>
 
    

        <!--Modal: modalConfirmDelete-->
        <div mdbModal #modalConfirmDelete="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
                <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure?</p>
                </div>

                <!--Body-->
                <div class="modal-body">

                    <i class="fas fa-times fa-4x animated rotateIn"></i>

                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a type="button" class="btn  btn-outline-danger" (click)="onDeletePrayer('yes')"
                                                                     (click)="modalConfirmDelete.hide()">Yes</a>
                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal"
                                                                               (click)="modalConfirmDelete.hide()">No</a>
                </div>
            </div>
          <!--/.Content-->
          </div>
        </div>
        <!--Modal: modalConfirmDelete-->


        <!--Modal: modalConfirmDelete-->
        <div mdbModal #modalConfirmDeleteFile="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
                <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure?</p>
                </div>

                <!--Body-->
                <div class="modal-body">

                    <i class="fas fa-times fa-4x animated rotateIn"></i>

                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a type="button" class="btn  btn-outline-danger" (click)="onDeleteFile('yes')"
                                                                     (click)="modalConfirmDeleteFile.hide()">Yes</a>
                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal"
                                                                               (click)="modalConfirmDeleteFile.hide()">No</a>
                </div>
            </div>
          <!--/.Content-->
          </div>
        </div>
        <!--Modal: modalConfirmDelete-->


    </div>

     <!-- Side Modal Top Right -->

     <div mdbModal #sideModalTR="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-side modal-top-right modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Intention de prière</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="sideModalTR.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                <div class="text-center">
                    <textarea type="text" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="10" mdbInput mdbValidate
                    [(ngModel)]="prayerText"></textarea>
                </div>
                </div>

                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="sideModalTR.hide()" (click)="updatePrayer()">
                        <i class="fas fa-pen pr-2"></i>Modifier
                    </button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Side Modal Top Right -->


    <!--Modal: modalPush-->
    <div mdbModal #modalPush="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content text-center">

                <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">

                    <!--Header-->
                    <div class="modal-header d-flex justify-content-center">
                        <p class="heading">Ajout de Bulletin</p>
                    </div>

                    <!--Body-->
                    <div class="modal-body">

                        <i class="fas fa-file fa-4x cyan-text"></i><br><br>

                        <div class="md-form">
                            
                            <input type="text" id="name" class="form-control" mdbInput mdbValidate formControlName="name"/>
                            <label for="form1">Nom</label>
                            
                            <input type="datetime-local" id="date" class="form-control" mdbInput mdbValidate formControlName="date"/>
                            <div class="md-form">
                                <input type="file" id="fichier" class="form-control" accept=".pdf,.doc,.docx"
                                       (change)="detectFiles($event)" mdbInput mdbValidate formControlName="fichier" multiple>
                            </div>
                        </div>
                        
                        <!--Footer-->
                        <div class="modal-footer flex-center">
                            <button class="btn btn-info" type="submit"
                                                        [disabled]="uploadForm.invalid"
                                                        (click)="modalPush.hide()">Publier</button>
                            <a type="button" class="btn btn-outline-info waves-effect" 
                                            data-dismiss="modal" (click)="modalPush.hide()">No</a>
                        </div>

                    </div>

                </form>

            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalPush-->

</div>