<div class="container">
    <h2 style="color: darkred; text-align: center;">Des hommes qui répondent à un appel</h2> <br>
    <h4 style="color: rgb(29, 99, 190); text-align: center;"> "VIENS ET SUIS MOI" <h5 style="display: inline;">Marc 10,21 - Luc 18,22 - Matthieu 19,21</h5> </h4>
  
    <div class="row">
      
        <div class="col-sm-12 col-lg-12">
          <div class="scrollspy-example z-depth-1 mt-4 px-4">

            <section style="padding-top: 3%;">
                <p><span style="font-weight: bold; color:  rgb(29, 99, 190)">
                    Si tu veux répondre à l’invitation du Christ et le suivre sur le chemin au service des autres, 
                    il existe un institut religieux au service des malades, créé par Saint Camille de Lellis au nom de Jésus Christ. </span>
                    Jésus nous dit dans l’évangile de St Matthieu 25, 40 : « <cite title="Source Title">Tout ce que vous aurez fait au plus petit de mes frères c’est à moi que vous l’aurez fait</cite> ».
                    Les soigner avec la même tendresse qu’une mère soigne son unique enfant malade.
                </p>
                <br>
            </section>

            <section>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2 col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-xs-12">
                        <img src="assets/images/ph_camilliens2.jpg" height="100%" width="100%" class="img-fluid" alt="img">
                    </div>
                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
                        <img src="assets/images/ph_camilliens3.jpg" height="100%" width="100%" class="img-fluid" alt="img">
                    </div>
                </div>
                <br>
            <h2 style="text-align: center;"><span style="font-weight: bold; color: darkred;">Pastorale vocationnelle</span></h2>
            <h4 style="color: rgb(29, 99, 190); margin-bottom: 3%; padding-top: 3%;"><mdb-icon fas icon="star-of-life pr-3"></mdb-icon>Tu veux découvrir un peu plus les Serviteurs des Malades (Camilliens) ?</h4>
            <p>L'Ordre des Serviteurs des Malades, partie vivante de l’Église, a reçu de Dieu, par son fondateur Saint Camille de Lellis, 
             le don de revivre l'amour miséricordieux toujours présent du Christ envers les malades et de le témoigner au monde.( Constitution N°1)
            </p>
            <p>Nous considérons comme notre champ d'action toute la communauté locale présente à l'hôpital et dans les maisons de santé. 
                Par tous les moyens d'apostolat à notre disposition, nous nous appliquons à la formation et à l'animation chrétienne du personnel sanitaire. 
                Nous sommes ferments d'unité entre les diverses catégories de personnel hospitalier.
            </p>
            <p>Dans l'exercice de notre ministère auprès des malades, nous prêtons aussi notre attention humaine et pastorale à leurs familles, 
                aux personnes en deuil : nous partageons leurs angoisses et nous les soutenons de notre solidarité. (Constitution N°52-53)
            </p>
            <br>

            <h4 style="color: rgb(29, 99, 190); margin-bottom: 3%;"><mdb-icon fas icon="star-of-life pr-3"></mdb-icon>Tu souhaites discerner davantage concrètement si tu es appelé à servir le Seigneur dans tes frères et sœurs souffrants ? </h4>
            <p>Les candidats que nous accueillons connaîtront graduellement la valeur et la signification de la vie religieuse camillienne qui est suite du Christ miséricordieux, 
                fraternité et service du prochain souffrant, témoignage et signe du Royaume de Dieu. Approfondissant toujours davantage le charisme et la mission de l'Ordre, 
                ils comprendront que toute leur vie est vouée au service des malades et à la pratique de la charité. Ils se rendent disponibles pour travailler généreusement là où les besoins sont les plus impérieux. (cf. Constitution N°75)
            </p>
            <br>
            <p>Enfin, avant de risquer l’aventure, il est bon de connaître les différentes étapes pour devenir religieux camillien. Entrer dans une nouvelle école de charité :</p>
            <ul>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Etre contemplatif dans l’action en servant les malades dans différentes structures </li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Vivre dans une communauté de frères</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Oser la mission auprès des malades</li>
            </ul>
            <p style="font-size: large; font-family: 'Times New Roman';"><span style="font-weight: bold; color:  rgb(29, 99, 190)">Nous contacter :</span><br>
                179 bis, Bd Pasteur - B.P. 60026<br>
                94363 BRY SUR MARNE CEDEX<br>
                E-mail : <a href="mailto:Camilliens.bry@gmail.com ">Camilliens.bry@gmail.com</a><br>
            </p>    
            
            <br>
            </section>

          </div>
        </div>
        <button *ngIf="isShow" type="button" mdbBtn class="open-button relative waves-light image-clignote" (click)="gotoTop()" mdbWavesEffect style="z-index: 6;"><mdb-icon fas icon="chevron-up" size="3x" class="red-text pr-3"></mdb-icon></button>
    </div>
</div>