<div class="container">
    <h2 style="color: darkred; text-align: center;">LES MINISTERES DES SERVITEURS DES MALADES (Camilliens)</h2> <br>
    <h4 style="color: rgb(29, 99, 190); text-align: center;">HIER ET AUJOURD'HUI</h4>
  
    <div class="row">
      
        <div class="col-sm-12 col-lg-12">
          <div class="scrollspy-example z-depth-1 mt-4 px-4">

                <p style="padding-top: 3%;"><span style="font-weight: bold; color: black">Les camilliens, présents aujourd’hui sur les cinq continents,</span>
                    engagés à témoigner l’amour du Christ Jésus envers les malade et les marginalisés, s’empressent de les servir avec un amour de mère, selon l’exemple du Fondateur.
                </p>
                
                <img src="../../assets/images/ph_mission1.jpg" class="rounded float-right" height="35%" width="35%" alt="img-fluid" style="margin-left: 3%;">
                <p>Ils consacrent de préférence leurs activités aux plus abandonnés, <span style="font-weight: bold; color: black">particulièrement dans les pays en voie de développement et dans les terres de mission.</span></p>
                <p>Avec les laïcs, réunis en forme associative et selon leur propre condition de laïcs (Famille camillienne laïque), <span style="font-weight: bold; color: black">ils partagent le même charisme de charité et de témoignage; </span>
                    en Europe comme sur les autres continents, le vaste domaine de la santé (de l’assistance corporelle et spirituelle à l’enseignement) est, pour les camilliens, l’objet d’une attention particulière, capable de réponses soutenues par un «
                <span style="font-weight: bold; color: black">cœur ouvert</span> » et de cette « fantaisie de la charité » qui se concrétise en une passion pour le présent, ouverte sur le futur.
                </p>
                <p>La parole de Virgile « <cite>non omnia possumus omnes</cite> » appelle les religieux à la croix rouge à réaliser l’appel de saint Camille selon des critères de priorité, de compétence et de culture.
                </p>
                <p><span style="font-weight: bold; color: black">C’est mus par cette intuition toute camillienne, basée sur la parole de Jésus : « </span><cite>Tout ce que vous avez fait à l’un de ces plus petits qui sont mes frères, c’est à moi que vous l’avez fait</cite> »,
                    <span style="font-weight: bold; color: black">qu’ils trouvent des raisons pour un engagement total et inconditionnel.</span>
                </p>
                <p>Les derniers et les « nouveaux derniers » (les nouvelles urgences sociales comme la pauvreté et le sida), les plus petits, ne sont pas des concepts abstraits mais des hommes et de femmes de toutes les latitudes et de tout credo.</p>
                <p>Les efforts et les projets des religieux, aidés par les laïcs, s’ils s’intéressent aux soins et au soutien pour la nourriture, l’acquisition et l’administration des médicaments, visent aussi la prévention et la formation.</p>
                <p><span style="font-weight: bold; color: black">C’est la nouvelle école de charité qui, inaugurée par Camille et reconnue par la communauté, « se répand par toute la région ».</span>
                </p>

                <br>

                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                  <mdb-carousel-item *ngFor="let image of imgTab">
                    <div class="view w-100">
                      <img class="d-block w-100" style="min-width: 400px; min-height: 300px; max-height: 580px; max-width: 2000px;" [src]=image alt="First slide">
                    </div>
                  </mdb-carousel-item>
                </mdb-carousel>

                <hr style=" margin-left: 22%; margin-top: 4%; margin-bottom: 5%; width:50%;">

            <section>
                <h2 style="color: darkred; text-align: center; margin-bottom: 3%;">Lieux de présence en France et au Bénin</h2>
                
                <div class="row">
                  <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                  <button style="border: none; background-color: transparent;"><img src="../../assets/images/ph_mission3.jpg" class="img-fluid" style="min-width: 150px; min-height: 350px;" alt="img"
                           mdbTooltip="Afficher la galerie" 
                           (click)="basicModal1.show()"
                           (click)="maGalery(2)"></button>
                  </div>
                  <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                      <h5 style="color: rgb(29, 99, 190); text-align: justify;">LYON</h5>    
                      <p style="font-weight: bold; color: black; font-size: larger;">Maison de retraite Saint-Camille</p>
                      <br>
                      <p>EPHAD d'une capacité de 100 lits accueillant des personnes âgées autonomes, semi valides et dépendantes (maladies neurologiques dégénératives)</p>
                      <br>
                      <p>Religieux camilliens <br>
                        Maison de retraite St Camille <br>
                        96, rue commandant Charcot <br>
                        69 322 LYON cedex 05 <br>
                        Tel : 04 78 25 69 68 
                      </p>
                      <button style="border: none; background-color: transparent;"                       
                              (click)="basicModal1.show()"
                              (click)="maGalery(2)"><p style="font-weight: bold; color: rgb(29, 99, 190);"><mdb-icon fas icon="angle-right pr-3"></mdb-icon>Afficher la galerie</p>
                      </button>
                  </div>
                  <hr style=" margin-left: 35%; margin-top: 4%; margin-bottom: 5%; width:25%; text-align: center;">
              </div>

              <div class="row">
                <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                    <h5 style="color: rgb(29, 99, 190); text-align: justify;">Bry sur Marne :</h5>    
                    <p style="font-weight: bold; color: black; font-size: larger;">Hôpital Saint Camille</p>
                    <br>
                    <p>L’Hôpital Saint Camille créé en 1936 grâce aux dons et legs de généreux donateurs, répond encore aujourd’hui aux besoins de santé du Val de Marne. Religieux et laïcs visitent les malades, donnent des soins, 
                      les prêtres les accompagnent par les sacrements (Eucharistie, sacrement de réconciliation, onctions des malades). C’est le lieu de la maison provinciale de France.</p>
                    <br>
                    <p>Maison de la Province de France <br>
                      179 bis, Bd Pasteur <br>
                      B.P. 600 26 <br>
                      94 363 BRY-SUR-MARNE cedex <br>
                      Tel: 01 48 81 03 47
                    </p>
                    <button style="border: none; background-color: transparent;"                       
                            (click)="basicModal3.show()"
                            (click)="maGalery(1)"><p style="font-weight: bold; color: rgb(29, 99, 190);"><mdb-icon fas icon="angle-right pr-3"></mdb-icon>Afficher la galerie</p>
                    </button>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                  <button style="border: none; background-color: transparent;"><img src="../../assets/images/ph_mission4.jpg" class="img-fluid" style="min-width: 150px; min-height: 350px;" alt="img"
                           mdbTooltip="Afficher la galerie" 
                           (click)="basicModal3.show()"
                           (click)="maGalery(1)"></button>
                  </div>
                <hr style=" margin-left: 35%; margin-top: 4%; margin-bottom: 5%; width:25%; text-align: center;">
            </div>

            <div class="row">
              <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
              <button style="border: none; background-color: transparent;"><img src="../../assets/images/ph_mission3.jpg" class="img-fluid" style="min-width: 150px; min-height: 350px;" alt="img">
              </button>
              <br>
              <br>
              <p style="text-align: center;"><a href="http://www.villasaintcamille.org">www.villasaintcamille.org</a></p>
              <p style="text-align: center;">Religieux camilliens, <br>
                villa St Camille 68 rue Corniche d’or <br>
                B.P. 37 <br>
                06 590 THEOULE SUR MER <br>
                Tel : 04 92 97 36 41 <br>
              </p>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                  <h5 style="color: rgb(29, 99, 190); text-align: justify;">Théoule : </h5>    
                  <p style="font-weight: bold; color: black; font-size: larger;">Villa Saint Camille</p>
                  <br>
                  <p>Installée depuis 1884 à Théoule sur Mer (Alpes maritimes), la maison a pour objectif de réaliser un accueil diversifié pour donner à tous, 
                    selon les nouveaux besoins de chaque époque, la possibilité de s'ouvrir à l'autre dans l'acceptation et le respect des différences et parcours de chacun.
                  </p>
                  <p><i style="color: rgb(29, 99, 190);" class="fas fa-square pr-3"></i>Avec une capacité de 152 lits, la villa a trouvé un juste équilibre à travers les différents accueils et permet à chacun de prendre sa place, grâce au travail d'une équipe de religieux camilliens de laïcs, bénévoles et salariés.</p>
                  <p><i style="color: rgb(29, 99, 190);" class="fas fa-square pr-3"></i>Accueil de jeunes en difficultés diverses, en voie de réinsertion, avec la possibilité de concrétiser un projet individualisé pour retrouver une autonomie complète.</p>
                  <p><i style="color: rgb(29, 99, 190);" class="fas fa-square pr-3"></i>Accueil de personnes âgées et personnes en situation de handicap.</p>
                  <p><i style="color: rgb(29, 99, 190);" class="fas fa-square pr-3"></i>Accueil d'urgence de personnes isolées ou en famille, se retrouvant dans une situation passagère de détresse.</p>

              </div>
              <hr style=" margin-left: 35%; margin-top: 4%; margin-bottom: 5%; width:25%; text-align: center;">
          </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                        <h5 style="color: rgb(29, 99, 190); text-align: justify;">ARRAS</h5>    
                        <p style="font-weight: bold; color: black; font-size: larger;">Maison de retraite Saint-Camille</p>
                        <br>
                        <p>Etablissement d'Hébergement pour Personnes Agées Dépendantes (EHPAD) associatif avec une capacité de 62 lits.</p>
                        <br>
                        <p><a href="http://www.stcamille-arras.fr">www.stcamille-arras.fr</a></p>
                        <br>
                        <p>Association St Camille-Maison de retraite <br>
                            21 rue du marché-au-filé <br>
                            62 000 ARRAS <br>
                            Tel : 03 21 73 41 89
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                      <button style="border: none; background-color: transparent;"><img src="../../assets/images/ph_mission2.jpg" class="img-fluid" style="min-width: 150px; min-height: 350px;" alt="img"></button>
                      </div>
                    <hr style=" margin-left: 35%; margin-top: 4%; margin-bottom: 5%; width:25%; text-align: center;">
                </div>

                <div class="row">
                  <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                    <button style="border: none; background-color: transparent;"><img src="../../assets/images/ph_mission9.jpg" class="img-fluid" style="min-width: 150px; min-height: 350px;" alt="img"></button>
                    </div>
                  <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                      <h5 style="color: rgb(29, 99, 190); text-align: justify;">Bénin (Afrique francophone) Davougon :</h5>
                      <br>
                      <p>Centre anti-lèpre anti ulcère de Buruli, dispensaire avec accueil de malades séropositifs au VIH, centre de promotion féminine et éducation à la santé.</p>
                  </div>
                  <hr style=" margin-left: 35%; margin-top: 4%; margin-bottom: 5%; width:25%; text-align: center;">
              </div>

                <h3 style="color: darkred; text-align: center; margin-bottom: 3%;">Lieux d'ancienne présence</h3>
                
                <div class="row">
                  <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                      <h5 style="color: rgb(29, 99, 190); text-align: justify;">Velaine en Haye :</h5>    
                      <p style="font-weight: bold; color: black; font-size: larger;">Institut médico-professionnel</p>
                      <br>
                      <br>
                      <p><a href="http://www.saint-camille.fr">www.saint-camille.fr</a></p>
                      <br>
                      <p>12, Poste de Velaine <br>
                        54840 VELAINE EN HAYE <br>
                        Tel : 03 83 23 20 04 
                      </p>
                  </div>
                  <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                    <button style="border: none; background-color: transparent;"><img src="../../assets/images/ph_mission6.jpg" class="img-fluid" style="min-width: 150px; min-height: 350px;" alt="img"></button>
                    </div>
                  <hr style=" margin-left: 35%; margin-top: 4%; margin-bottom: 5%; width:25%; text-align: center;">
              </div>

              <div class="row">
                <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                  <button style="border: none; background-color: transparent;"><img src="../../assets/images/ph_mission7.jpg" class="img-fluid" style="min-width: 150px; min-height: 350px;" alt="img"></button>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                    <h5 style="color: rgb(29, 99, 190); text-align: justify;">Lourdes :</h5>    
                    <br>
                    <p>Présence d’un prêtre camillien français, aumônier général de l’hospitalité Notre Dame et chapelain du sanctuaire.</p>
                </div>
                <hr style=" margin-left: 35%; margin-top: 4%; margin-bottom: 5%; width:25%; text-align: center;">
            </div>
            
            <div class="row">
              
              <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                  <h5 style="color: rgb(29, 99, 190); text-align: justify;">Poët Laval :</h5>
                  <br>
                 <p>Le Gué, maison d’accueil de toxicomanes, se veut être un lieu pour revivre, se délivrer de la drogue. Repérer ses difficultés réinventer son corps et les relations sociales, accepter de vivre son histoire, arriver peu à peu à se contenir par soi-même est le premier objectif des éducateurs religieux et laïcs.
                  Travailler faire du sport, vivre la vie en communauté avec ses règles redonne le sens de l’effort de la solidarité et de la patience pour un nouveau départ ; Libre ! 
                </p>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
                <button style="border: none; background-color: transparent;"><img src="../../assets/images/ph_mission6.jpg" class="img-fluid" style="min-width: 150px; min-height: 350px;" alt="img"></button>
                <br>
                <br>
                <p style="text-align: center;"><button (click)="basicModal4.show()" style="border: none; background-color: transparent; color: rgb(29, 99, 190);"><i class="fas fa-forward pr-3"></i>Maison d'accueil Le Gué</button></p>
                <br>
                <p style="text-align: center;">Maison d'accueil Le Gué <br>
                  26 160 Le Poët Laval <br>
                  Tel : 04 75 46 21 67 
                </p>
              </div>
          </div>
          
            
            </section>        
            <br>
            <button *ngIf="isShow" type="button" mdbBtn class="open-button relative waves-light image-clignote" (click)="gotoTop()" mdbWavesEffect style="z-index: 6;"><mdb-icon fas icon="chevron-up" size="3x" class="red-text pr-3"></mdb-icon></button>
          </div>
        </div>
    </div>
</div>

  <!-- zone modaux -->
  <div mdbModal #basicModal1="mdbModal" class="modal fade left" tabindex="-1" role="dialog" aria-labelledby="myBasicModal1Label"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-full-height modal-left" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal1.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel"> LYON</h4>
      </div>
      <div class="modal-body">
        
        <!---------------------------------------- ALBUM --------------------------------------->

        <div style="background-color: black; text-align: center;"
             *ngFor="let Photo of albumm.albumphotos; let i = index;" style="display: inline;" class="wprock-img-zoom-hover">
              <button type="button" class="btnImg wprock-img-zoom" (click)="galeryModal.show()"
                                                                   (click)="getIndex(i)">
                  <img src="{{Photo.url}}" alt="problème d'affichage" class="img-thumbnail">
              </button>       
        </div>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<div mdbModal #basicModal2="mdbModal" class="modal fade left" tabindex="-1" role="dialog" aria-labelledby="myBasicModal2Label"
aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-full-height modal-left" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel"> ARRAS</h4>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
</div>

<div mdbModal #basicModal3="mdbModal" class="modal fade left" tabindex="-1" role="dialog" aria-labelledby="myBasicModal3Label"
aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-full-height modal-left" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal3.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel"> BRY SUR MARNE</h4>
    </div>
    <div class="modal-body">
 <!---------------------------------------- ALBUM --------------------------------------->
  <div style="background-color: black; text-align: center;"
       *ngFor="let Photo of albumm.albumphotos; let i = index;" style="display: inline;" class="wprock-img-zoom-hover">
    <button type="button" class="btnImg wprock-img-zoom" (click)="getIndex(i)"
                                                         (click)="galeryModal.show()"                                                       >
        <img src="{{Photo.url}}" alt="problème d'affichage" class="img-thumbnail">
    </button>       
  </div>
 <!---------------------------------------- ALBUM --------------------------------------->
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
</div>

<div mdbModal #basicModal4="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="mybasicModal4Label"
aria-hidden="true">
<div class="modal-dialog modal-full-height modal-bottom modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal4.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel" style="color: rgb(29, 99, 190);">Maison d'accueil Le Gué</h4>
    </div>
    <div class="modal-body">
      <pdf-viewer src="../../assets/pdf/plaquette_legue.pdf" 
                  [render-text]="true"
                  style="display: block;">
      </pdf-viewer>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal4.hide()" mdbWavesEffect>Fermer</button>
      <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect>
        <a style="color: white;" href="../../assets/pdf/plaquette_legue.pdf" download="plaquette_legue.pdf">
          Télécharger
        </a>
      </button>
    </div>
  </div>
</div>
</div>


<!---------------------------------------- ALBUM Modal --------------------------------------->
<div mdbModal #galeryModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalPopoversLabel"
     style="max-width: 100%; max-height: 900px; text-align: center;">
<div class="modal-dialog modal-fluid" role="document">
<div class="modal-content" style="background-color: black;">

<div class="modal-header">
<!--
<h5 class="modal-title" id="exampleModalPopoversLabel" style="color: white; text-align:center">{{photoTitle}}</h5>
<h5 class="modal-title" id="exampleModalPopoversLabel" style="color: white; text-align:center">{{photoTitle2}}</h5>
-->
<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="galeryModal.hide()"
      style="color: red; margin-right: 46%;">
      <i class="fas fa-times-circle fa-2x red-text"></i>
</button><br><br>
</div>

<div class="modal-body">
<img src="{{urlPhoto}}" alt="image indisponible" class="imgIntoModal" style="margin-right: 0.5cm;" title={{photoTitle}}>
<img src="{{urlPhoto2}}" alt="image indisponible" class="imgIntoModal" title={{photoTitle2}}><br>
</div>

<div class="modal-footer">
<div style="display: inline;">
  <button type="button" style="background: transparent; border: none;" 
          (click)="prev(urlPhoto)">
      <i class="fas fa-chevron-circle-left fa-3x white-text"></i>
  </button>

  <button type="button" style="background: transparent; border: none; float:right;" 
          (click)="next(urlPhoto)">
      <i class="fas fa-chevron-circle-right fa-3x white-text"></i>
  </button>
</div>
</div>
</div>
</div>
</div>

<!---------------------------------------- ALBUM Modal --------------------------------------->
  <!-- zone modaux -->
