
<div class="container">
    <h2 style="color: darkred; text-align: center;">LES AUMÔNERIES</h2>

    <div class="row">
      
        <div class="col-sm-12 col-lg-12">
          <div class="scrollspy-example z-depth-1 mt-4 px-4">

            <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center nav-fill">
                <li [ngbNavItem]="1">
                  <a style="font-size: medium; font-weight: bold;" ngbNavLink>Hôpital Saint Camille</a>
                  <ng-template ngbNavContent>
                    <h4 style="color: darkred; text-align: center;">AUMÔNERIE DE L’HÔPITAL SAINT CAMILLE</h4>
                    <br>
                    <p style="text-align: center;">Vous ou l’un de vos proches est hospitalisé ?<br>
                        Prévenez l’Aumônerie Catholique de l’Hôpital <br>
                        Vous pouvez joindre l’aumônier à tout moment au :</p>
                    <p style="color: red;text-align: center;">Poste interne : *6637 <br>
                        Portable : 06.89.88.82.73 <br>
                        Ou lui laisser une note écrite dans sa boîte à lettre qui est à côté de la chapelle de l’hôpital (1er étage).
                    </p>
                    <br>
                    <p>L’Aumônerie Catholique est un service d’Église au sein d’un établissement. 
                        Elle souhaite contribuer au bien-être et au réconfort de la personne malade et de sa famille, 
                        en lien avec le personnel soignant.
                    </p>
                    <p>Le service d’aumônerie répond aux demandes de visite, d’écoute, d’accompagnement et de soutien des patients et de leurs familles.</p>
                    <p>L’équipe est constituée d’un religieux prêtre et de laïcs formés et envoyés par l’Église. Elle vient à vous pour :</p>
                    <ul>
                        <li><p>  <span style="color: black; font-weight: bold;">assurer une présence</span><br>
                            Discrétion et Compassion</p>
                        </li>
                        <li><p>  <span style="color: black; font-weight: bold;">Oser une rencontre</span><br>
                            Fraternité et Amitié</p>
                        </li>
                        <li><p>  <span style="color: black; font-weight: bold;">Dans une écoute fraternelle</span><br>
                            Respect et Discrétion</p>
                        </li>
                        <li><p>  <span style="color: black; font-weight: bold;">Pour un temps de partage</span></p>
                        </li>
                        <li><p>  <span style="color: black; font-weight: bold;">Pour Cheminer</span></p>
                        </li>
                        <li><p>  <span style="color: black; font-weight: bold;">Pour vivre une démarche religieuse</span><br>
                            Prière, sacrements : onction des malades, réconciliation (confession), célébration de l'Eucharistie</p>
                        </li>
                    </ul>
                    <br>
                    <p style="text-align: center;">Des bénévoles de l’aumônerie vous proposent une visite tous les jeudis</p>
                    <p style="text-align: center;">La chapelle est ouverte tous les jours 24h/24 et est située au premier étage de l’hôpital</p>
                    <h4 style="text-align: center; color: black; font-weight: bold;">Horaires des célébrations :</h4>
                    <h4 style="text-align: center; color: rgb(29, 99, 190); font-weight: bold;">mardi – jeudi et vendredi : messe à 17h <br>
                        Dimanche : messe à 10h30
                    </h4>
                    
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a style="font-size: medium; font-weight: bold;" ngbNavLink> Maison de retraite de Lyon</a>
                  <ng-template ngbNavContent>
                    <h4 style="color: darkred; text-align: center;">AUMÔNERIE DE LA MAISON DE RETRAITE SAIN T CAMILLE DE LYON</h4>
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <br>
                            <p>Des messes sont célébrées dans la chapelle de la maison de retraite chaque jour à 11h00</p>
                            <p>Le père aumônier et les frères de la communauté des religieux camilliens avec un groupe de bénévoles rendent visite aux malades. 
                                Ils une présence, une écoute, un accompagnement des résidents par des visites régulières.
                            </p>
                            <p>Sur demande, ceux-ci peuvent  recevoir la communion, se confesser ou recevoir le sacrement des malades.</p>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                            <br>                           
                            <img style="box-shadow: 0.5px 8px 3px 0.5px rgba(0, 0, 0, 0.507); border: solid  5px whitesmoke; border-radius: 5%" src="../../assets/images/au_lyon1.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                            <br>                           
                            <img style="text-align: center;"><img style="box-shadow: 0.5px 8px 3px 0.5px rgba(0, 0, 0, 0.507); border: solid  5px whitesmoke; border-radius: 5%" src="../../assets/images/au_lyon2.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <br>
                            <p>Vous pouvez joindre l’aumônier à tout moment au :</p>
                            <p style="color: red; font-weight: bold;">Tel : 06.89.88.82.73</p>
                        </div>
                     </div>
                    
                  </ng-template>
                </li>
                <li [ngbNavItem]="3">
                  <a style="font-size: medium; font-weight: bold;" ngbNavLink> Maison de Retraite d'Arras</a>
                  <ng-template ngbNavContent>
                    <h4 style="color: darkred; text-align: center;">AUMÔNERIE DE LA MAISON DE RETRAITE SAINT CAMILLE D'ARRAS</h4>
                    <br>
                    <br>
                    <p>A l’EHPAD Saint Camille d’Arras, chaque résident ou chaque membre du personnel peut suivre le cheminement spirituel qu’il souhaite. 
                        Les religieux camilliens se tiennent à leur disposition. Un office est célébré dans la chapelle de l’EHPAD tous les jours sauf le dimanche. 
                        L’aumônier offre une présence pastorale et assure la présence de l’église dans le respect de la liberté des personnes. Il a une démarche proactive. Il va vers le résident, 
                        sa famille et le personnel afin d’offrir une écoute empathique, un soutien. Il est présent pour aider les patients à traverser les épreuves, la maladie et la détresse en fin de vie, 
                        mais aussi répondre aux besoins spirituels des résidents.
                    </p>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                            <br>                           
                            <img style="box-shadow: 0.5px 8px 3px 0.5px rgba(0, 0, 0, 0.507); border: solid  5px whitesmoke; border-radius: 5%" src="../../assets/images/au_arras.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <br>
                            <p>Frère René Didierjean, Religieux Camillien, qui ouvrit en 1957 la Maison de Retraite Mahaut d’Artois. Elle deviendra la Maison de Retraite Saint-Camille en 1998.</p>
                        </div>
                    </div>
                  </ng-template>
                </li>
              </ul>
              <br>
              <br>
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            <br>
            <button *ngIf="isShow" type="button" mdbBtn class="open-button relative waves-light image-clignote" (click)="gotoTop()" mdbWavesEffect style="z-index: 6;"><mdb-icon fas icon="chevron-up" size="3x" class="red-text pr-3"></mdb-icon></button>
          </div>
        </div>
    </div>
</div>