
<div class="container">
    <h2 style="color: darkred; text-align: center;">ALLER PLUS LOIN</h2>

    <div class="row">
      
        <div class="col-sm-12 col-lg-12">
          <div class="scrollspy-example z-depth-1 mt-4 px-4">

            <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
                <li [ngbNavItem]="1">
                  <a style="font-size: x-large; font-weight: bold;" ngbNavLink>Croix Rouge Cam.</a>
                  <ng-template ngbNavContent>
                    <h4 style="color: darkred; text-align: center;">CROIX ROUGE CAMILLIENNE</h4>
                    <br>
                    <img src="assets/images/ph_croix0.jpg" width="35%" height="35%" class="rounded img-fluid float-right" alt="img" style="margin-left: 3%; margin-bottom: 3%;">
                    <p>Alors qu’elle est enceinte de Camille, <span style="color: black; font-weight: bold;">Camilla a cette vision dans laquelle elle voit son fils à la tête 
                        d’un groupe d’enfants marqués d’une croix rouge.</span>
                    </p>
                    <p>Plus tard <span style="color: black; font-weight: bold;">Camille voit le Christ de son crucifix détacher les bras de la croix, les tendre vers lui et lui dire</span>
                        : « <cite>Persévère dans ton entreprise. Je serai avec toi ce n’est pas ton œuvre mais la mienne.</cite> »
                    </p>
                    <p><span style="color: black; font-weight: bold;">Cette Croix est signe de l’arbre de Vie</span> planté au calvaire portant du fruit pour l’aide, la consolation et le salut des mourants.
                    </p>
                    <p>C’est ce qui donna à Camille l’inspiration de faire apposer sur l’habit de son ordre une croix latine rouge. 
                        Elle se porte du côté droit de sorte qu’elle soit toujours visible lorsque le camillien soulève de son 
                        bras gauche le malade pour lui administrer des soins.
                    </p>
                    <p>En 1586, Camille rencontre <span style="color: black; font-weight: bold;">le pape Sixte Quint qui l’autorise par le bref apostolique « Cum nuper » à porter la croix rouge sur l’habit religieux et le manteau.</span></p>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <img src="assets/images/ph_croix.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">                           
                            <img src="assets/images/ph_croix1.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                        </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a style="font-size: x-large; font-weight: bold;" ngbNavLink> 4ème Voeu des Cam.</a>
                  <ng-template ngbNavContent>
                    <h4 style="color: darkred; text-align: center;">QUATRIEME VOEU DES CAMILLIENS</h4>
                    <br>
                    <p><span style="color: black; font-weight: bold;">Dans l’esprit de notre charisme </span>nous émettons un quatrième vœu par lequel <span style="color: black; font-weight: bold;">nous nous engageons au service des malades</span>
                        dans les hôpitaux et en tout autre lieu au risque de notre propre vie. 
                    </p>
                    <p>Nous imitons ainsi le bon samaritain et <span style="color: black; font-weight: bold;">nous suivons l’exemple de saint Camille </span>
                        qui considérait les malades comme ses serviteurs et maîtres (article 28 de la Constitution).
                    </p>
                    <p>Dans ses « commandements et moyens de se comporter dans les hôpitaux pour servir les pauvres malades », saint Camille nous laisse pour consigne de « <span style="color: black; font-weight: bold;">
                        demander au Seigneur la Grâce d’avoir une affection maternelle envers son prochain pour que nous puissions Le servir en toute charité, dans son âme comme dans son corps, 
                        parce que nous désirons avec la grâce de Dieu soigner tous les malades avec cette affection que seule peut avoir une mère aimante lorsqu’elle soigne son fils unique malade</span> ». 
                    </p>
                    <br>
                    <h4 style="color: rgb(29, 99, 190); text-align: center;">C'est dans ce monde de la santé que nous réalisons en priorité notre mission :</h4>
                    <h3 style="color: darkred; text-align: center;">Témoigner de l'Amour de Jésus pour tous les malades.</h3>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <img src="assets/images/ph_voeu.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">                           
                            <img src="assets/images/ph_voeu1.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                        </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="3">
                  <a style="font-size: x-large; font-weight: bold;" ngbNavLink> Articles</a>
                  <ng-template ngbNavContent>
                    <h4 style="color: darkred; text-align: center;">REFLEXIONS : Textes Camilliani & Camillinnaum</h4>
                    <br>
                    <section>
                        <ul style="list-style-type:none;">
                            <li>
                                <h4><button (click)="basicModal1.show()" style="border: none; background-color: transparent; color: rgb(29, 99, 190); text-align: justify;"><i class="fas fa-forward"></i> SAINT CAMILLE ET LA BONNE HUMEUR</button></h4>
                                <p style="font-size: medium; margin-left: 4%;">Père Renato Salvatore, <br>Supérieur Général</p>
                            </li>
                            <li>
                                <h4><button (click)="basicModal2.show()" style="border: none; background-color: transparent; color: rgb(29, 99, 190); text-align: justify;"><i class="fas fa-forward"></i> IL SORTAIT DE LUI UNE FORCE QUI LES GUERISSAIT TOUS</button></h4>
                                <p style="font-size: medium; margin-left: 4%;">Elena Bosetti, <br>Docteur en théologie biblique</p>
                            </li>
                            <li>
                                <h4><button (click)="basicModal3.show()" style="border: none; background-color: transparent; color: rgb(29, 99, 190); text-align: justify;"><i class="fas fa-forward"></i> SOLITUDE ET MALADIE</button></h4>
                                <p style="font-size: medium; margin-left: 4%;">Luciano Sandrin <br>Professeur de psychologie de la santé <br>et de la maladie au Camillianum, Rome <br>Docteur en théologie biblique</p>
                            </li>
                            <li>
                                <h4><button (click)="basicModal4.show()" style="border: none; background-color: transparent; color: rgb(29, 99, 190); text-align: justify;"><i class="fas fa-forward"></i> SAINT CAMILLE ET LA PAUVRETE</button></h4>
                                <p style="font-size: medium; margin-left: 4%;">P. Babychan Pazhanilath</p>
                            </li>
                        </ul>
                    </section>
                  </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a style="font-size: x-large; font-weight: bold;" ngbNavLink> L'homme qui libère les fous</a>
                    <ng-template ngbNavContent>
                      <h4 style="color: darkred; text-align: center;">Grégoire AHONGBONON, réparateur de pneu devenu "réparateur de vies"</h4>
                      <h5 style="color: rgb(29, 99, 190); text-align: center;">Association Saint Camille de Lellis "L'Homme qui libère les fous"</h5>
                      <p>Agrégé à l’Ordre des Serviteurs des Malades, depuis l’an 2000 Lauréat du « Prix de Genève » 2005 pour les Droits de l’Homme en Psychiatrie.</p>
                      <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <br>
                            <p>C'est au cours d’une grave dépression, lors d’un pèlerinage à Jérusalem avec sa paroisse, en 1982, que Grégoire, béninois, réparateur de pneus, marié, père de six enfants, comprend que chaque chrétien doit «
                              <span style="color: black; font-weight: bold;">apporter sa pierre à l’édification de son Église.</span> » 
                            </p>
                            <p>
                              Dès lors, il visite les malades de l’hôpital puis les prisonniers puis il va au-devant des malades mentaux errant dans les rues et les villages. « 
                              <cite>Je les avais vus mais je ne les avais jamais regardés.</cite> » 
                          </p>
                          <p><span style="color: black; font-weight: bold;">Il fonde en 1983 l’association Saint Camille de Lellis</span>
                              (« la Saint Camille ») et commence les premiers accueils à BOUAKÉ, en Côte d’Ivoire où il vit avec sa famille.
                          </p>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">                           
                            <img src="assets/images/ph_gregoire.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                            <img src="assets/images/livre20.jpg" width="90%" height="90%" class="img-fluid" alt="img">
                            <br>
                             <br>
                             <p style="font-size: large; font-family: 'Times New Roman';"><span style="font-weight: bold; color:  rgb(29, 99, 190)">Pour toute information, contacter :</span><br>
                                 Les amis de Grégoire <br>
                                 BP 60026<br>
                                 94363 BRY SUR MARNE CEDEX<br>
                                 <a href="http://www.lesamisdegregoire.fr">www.lesamisdegregoire.fr</a><br>
                                 <a href="mailto:lesamisdegregoire@gmail.com">lesamisdegregoire@gmail.com</a><br>
                             </p>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">                           
                            <p>Il souhaite permettre aux malades psychiques de retrouver leur dignité par des soins mais aussi par une reprise d’activité dans des ateliers de formation (agricole, élevage, boulangerie, imprimerie, couture, tissage…). Il dit : «
                                <cite>En plus des médicaments, il faut redonner la confiance.</cite> » 
                             </p>
                             <p>A ce jour, grâce à l’aide de nombreux bénévoles et de nombreux donateurs, <span style="color: black; font-weight: bold;">plus de 3000 malades mentaux ont été accueillis dans 10 centres de la Saint Camille en Côte d’Ivoire et dans 4 centres du Bénin.</span> 
                                 Ils ont pu réintégrer leur village, leur famille et un travail. Beaucoup appellent Grégoire « <span style="color: black; font-weight: bold;">le fondateur</span> » mais il répond : « <cite>le seul fondateur, c’est Jésus-Christ !</cite> » 
                             </p>
                             <p>Marie-Christine BROCHERIEUX</p>
                        </div>
                     </div>

                    </ng-template>
                  </li>
              </ul>
              <br>
              <br>
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            <br>
          </div>
        </div>
    </div>
</div>

<!-- Modaux -->

<div mdbModal #basicModal1="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="mybasicModal1Label"
aria-hidden="true">
<div class="modal-dialog modal-full-height modal-fluid modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal1.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel" style="color: rgb(29, 99, 190);">SAINT CAMILLE ET LA BONNE HUMEUR</h4>
    </div>
    <div class="modal-body">
      <pdf-viewer src="assets/pdf/reflexion1.pdf" 
                  [render-text]="true"
                  style="display: block;">
      </pdf-viewer>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal1.hide()" mdbWavesEffect>Fermer</button>
      <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect>
        <a style="color: white;" href="assets/pdf/reflexion1.pdf" download="reflexion1.pdf">
          Télécharger
        </a>
      </button>
    </div>
  </div>
</div>
</div>

<div mdbModal #basicModal2="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="mybasicModal2Label"
aria-hidden="true">
<div class="modal-dialog modal-full-height modal-fluid modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel" style="color: rgb(29, 99, 190);">IL SORTAIT DE LUI UNE FORCE QUI LES GUERISSAIT TOUS</h4>
    </div>
    <div class="modal-body">
      <pdf-viewer src="assets/pdf/reflexion2.pdf" 
                  [render-text]="true"
                  style="display: block;">
      </pdf-viewer>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal2.hide()" mdbWavesEffect>Fermer</button>
      <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect>
        <a style="color: white;" href="assets/pdf/reflexion2.pdf" download="reflexion2.pdf">
          Télécharger
        </a>
      </button>
    </div>
  </div>
</div>
</div>

<div mdbModal #basicModal3="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="mybasicModal3Label"
aria-hidden="true">
<div class="modal-dialog modal-full-height modal-fluid modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal3.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel" style="color: rgb(29, 99, 190);">SOLITUDE ET MALADIE</h4>
    </div>
    <div class="modal-body">
      <pdf-viewer src="assets/pdf/reflexion3.pdf" 
                  [render-text]="true"
                  style="display: block;">
      </pdf-viewer>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal3.hide()" mdbWavesEffect>Fermer</button>
      <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect>
        <a style="color: white;" href="assets/pdf/reflexion3.pdf" download="reflexion3.pdf">
          Télécharger
        </a>
      </button>
    </div>
  </div>
</div>
</div>

<div mdbModal #basicModal4="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="mybasicModal4Label"
aria-hidden="true">
<div class="modal-dialog modal-full-height modal-fluid modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal4.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel" style="color: rgb(29, 99, 190);">SAINT CAMILLE ET LA PAUVRETE</h4>
    </div>
    <div class="modal-body">
      <pdf-viewer src="assets/pdf/reflexion4.pdf" 
                  [render-text]="true"
                  style="display: block;">
      </pdf-viewer>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal4.hide()" mdbWavesEffect>Fermer</button>
      <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect>
        <a style="color: white;" href="assets/pdf/reflexion4.pdf" download="reflexion4.pdf">
          Télécharger
        </a>
      </button>
    </div>
  </div>
</div>
</div>