<div class="container">
    <h2 style="color: darkred; text-align: center;">AIDE AUX MISSIONS CAMILLIENNES</h2> <br>
    <h4 style="color: rgb(29, 99, 190); text-align: center;">Association humanitaire de santé et de développement</h4>
  
    <div class="row">
      
        <div class="col-sm-12 col-lg-12">
          <div class="scrollspy-example z-depth-1 mt-4 px-4">
            
            <section>
            <div class="row">
                <div class="col-sm-8 col-lg-8 col-md-8">
                    <h2 style="color: rgb(29, 99, 190); margin-bottom: 2%; padding-top: 3%;">Objectif de l'association</h2>
                    <p><span style="font-weight: bold; color: black; font-size: large;">Venir en aide aux populations les plus défavorisées dans les pays en voie de développement :</span></p>
                    
                    <p><i class="fas fa-square" style="color: rgb(29, 99, 190);"></i> En soutenant les équipes de religieux et religieuses, de laïcs qui soignent et accompagnent les malades et infirmes les plus démunis</p>
                    <p><i class="fas fa-square" style="color: rgb(29, 99, 190);"></i> En collectant des fonds qui permettent l'achat de médicaments, matériel médical et nourriture</p>
                    <p><i class="fas fa-square" style="color: rgb(29, 99, 190);"></i> En favorisant le maintien et le développement de centres de formation féminine et des écoles de brousse.</p>
                    <p>Notre association permet d’aider, de soigner, de secourir moralement et matériellement les pauvres, les malades, les infirmes, les lépreux et soutenir le personnel sanitaire au Bénin et au Burkina Faso.</p>
                    <p>Grâce à vous, des milliers de personnes pourront bénéficier de soins dans nos structures sanitaires.</p>
                    <p>Aidez-nous à aider ceux qui n’ont pas les moyens pour se soigner.</p>
                    <br>
                   <h3 style="color: black; font-size: large; font-weight: bold; text-align: center; font-family: 'Times New Roman', Times, serif;">MERCI DE VOTRE GENEROSITE.</h3>
                   <p style="text-align: center;"><cite>« Pour mettre plus de cœur dans vos mains »</cite> <br>
                    <span style="color: black; font-weight: bold; text-align: center; font-family: 'Times New Roman', Times, serif;">Saint Camille.</span>
                   </p>
                   <p style="text-align: center;"><img src="assets/images/ph_aide_.png" width="100%" height="100%" class="rounded img-fluid" alt="img"></p>
        
                    <hr style=" margin-left: 22%; margin-top: 3%; margin-bottom: 3%; width:50%;">
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <img src="assets/images/log_aide.jpeg" width="100%" height="100%" class="rounded img-fluid float-right" alt="img" style="margin-top: 7%; margin-left: 3%; margin-bottom: 26%;">
                    <h3 style="color: darkred; text-align: center;">Pour soutenir nos actions</h3>
                    <p style="text-align: center;"><button mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToGift()"><span style="font-weight: bold; font-size: large;">Dons ou Legs</span></button></p>
        
                    <p style="text-align: center;">Léguer c’est aussi prolonger votre action de générosité.</p>
                    <p style="text-align: center;"><span style="font-weight: bold; font-family: 'Times New Roman', Times, serif; color: rgb(29, 99, 190); font-size: larger;">Livre de saint Camille, CD d’orgue sont à votre disposition.</span> <br>
                        <a href="mailto:missionscamilliennes@yahoo.fr">missionscamilliennes@yahoo.fr</a>
                    </p>
                </div>
            </div>
            
            </section>

            <section>
                <h2 style="color: rgb(29, 99, 190); margin-bottom: 3%;">Nos actions</h2>
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">

                        <p style="color: rgb(29, 99, 190); font-weight: bold;"><i class="fas fa-square"></i> Davougon (Bénin)</p>
                            <p>Une équipe de religieux Camilliens et de laïcs animent : <span style="color: black; font-weight: bold;">un centre anti-lèpre</span>, 
                               où sont soignés et réinsérés dans leur milieu des lépreux. <span style="color: black; font-weight: bold;">Des malades atteints de toxidermies et des ulcères de Buruli</span>, 
                               sont également pris en charge. <span style="color: black; font-weight: bold;">Cela représente annuellement 5000 consultations et autant d’hospitalisations. 
                               Le dispensaire qui accueille 32 000 personnes par an et y suit les malades du sida</span>, avec les soutiens aux familles et campagnes de sensibilisation.
                               <br>
                               <span style="color: black; font-weight: bold;">Un centre de promotion Féminine, où 100 jeunes filles</span>
                               (priorité aux handicapées et aux cas sociaux) <span style="color: black; font-weight: bold;">reçoivent une formation complète (couture, éducation des enfants, jardinage, etc.)</span>
                               Les religieux de l’équipe assurent également l’animation spirituelle du centre et de 12 villages ainsi que <span style="color: black; font-weight: bold;">
                                la construction de puits, de ponts, d’écoles, de chapelles.</span>
                                Nous avons participé à la construction du centre de Davougon où travaillent les pères et frères camilliens
                            </p>
                            <div style="margin-top: 3%;" class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                                    <img src="assets/images/ph_aide2.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">                           
                                    <img style="box-shadow: 0.5px 8px 3px 0.5px rgba(0, 0, 0, 0.507); border: solid  5px whitesmoke; border-radius: 7%" src="assets/images/ph_aide3.jpeg" width="100%" height="100%" class="img-fluid" alt="img">
                                </div>
                            </div>
                            <div style="margin-top: 3%;" class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                                    <img style="box-shadow: 0.5px 8px 3px 0.5px rgba(0, 0, 0, 0.507); border: solid  5px whitesmoke; border-radius: 7%" src="assets/images/ph_aide4.jpeg" width="100%" height="100%" class="img-fluid" alt="img">
                                    <figcaption>Le père Christian, un des derniers missionnaires français encore dans le centre</figcaption>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">                           
                                    <img style="box-shadow: 0.5px 8px 3px 0.5px rgba(0, 0, 0, 0.507); border: solid  5px whitesmoke; border-radius: 7%" src="assets/images/ph_aide5.jpeg" width="100%" height="100%" class="img-fluid" alt="img">
                                    <figcaption>Religieux camilliens béninois et togolais et grand nombre de laïcs continuent cette belle œuvre</figcaption>
                                </div>
                            </div>

                        <p style="margin-top: 3%; color: rgb(29, 99, 190); font-weight: bold;"><i class="fas fa-square"></i> Zagnanado (Bénin) </p>
                            <p><span style="color: black; font-weight: bold;">Une équipe de religieuses et de laïcs animent ce centre médical et nutritionnel qui comprend :</span></p>
                            <ul>
                                <li style="list-style-type: none; "><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Un centre anti-tuberculeux </li>
                                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Un service de chirurgie avec bloc opératoire qui traite les malades atteints d’ulcères de Buruli dans leur forme la plus brutale et destructrice. 
                                    150 lits sont occupés en permanence.</li>
                                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Un dispensaire de consultations générales (32 500 consultations par an).</li>
                                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Un service nutritionnel où 1800 enfants sont suivis par an, dont certains sont atteints de malnutrition sévère.</li>
                                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>L’équipe a la responsabilité d’un centre de formation professionnelle et participe à la promotion féminine dans les villages.</li>
                            </ul>

                        <p style="margin-top: 3%; color: rgb(29, 99, 190); font-weight: bold;"><i class="fas fa-square"></i> Ouagadougou (Burkina Faso)</p>
                            <p>Nous soutenons les religieux camilliens du Burkina Faso dans leur service des malades à l’hôpital saint Camille</p>

                        <div style="margin-top: 3%; margin-bottom: 3%;" class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                                    <img style="box-shadow: 0.5px 8px 3px 0.5px rgba(0, 0, 0, 0.507); border: solid  5px whitesmoke; border-radius: 7%" src="assets/images/ph_cont1.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">                           
                                    <img style="box-shadow: 0.5px 8px 3px 0.5px rgba(0, 0, 0, 0.507); border: solid  5px whitesmoke; border-radius: 7%" src="assets/images/ph_cont3.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                                </div>
                        </div>
                        <img style="box-shadow: 0.5px 8px 3px 0.5px rgba(0, 0, 0, 0.507); border: solid  5px whitesmoke; border-radius: 7%" src="assets/images/ph_cont2.jpg" width="100%" height="100%" class="img-fluid" alt="img">
                        <figcaption>Envoi de conteneur</figcaption>    
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                        <img style="margin-top: 50%;" src="assets/images/carte_benin.jpg" height="100%" width="100%" class="rounded img-fluid" alt="img">
                    </div>
                </div>
            </section>
            
            <br>
            <button *ngIf="isShow" type="button" mdbBtn class="open-button relative waves-light image-clignote" (click)="gotoTop()" mdbWavesEffect style="z-index: 6;"><mdb-icon fas icon="chevron-up" size="3x" class="red-text pr-3"></mdb-icon></button>
          </div>
        </div>
    </div>
</div>