<div class="container">
    <h2 style="color: darkred; text-align: center;">FRATERNITÉS SAINT CAMILLE DE LELLIS</h2> <br>
    <h4 style="color: rgb(29, 99, 190); text-align: center;">«  <cite>Consolez, consolez mon peuple, dit votre Dieu</cite> » (Is 40,1)</h4>
  
    <div class="row">
      
        <div class="col-sm-12 col-lg-12">
          <div class="scrollspy-example z-depth-1 mt-4 px-4">
            
            <img src="../../assets/images/saintC.png" width="25%" height="25%" class="rounded img-fluid float-right" alt="img" style="margin-left: 3%;">
            <h2 style="color: darkred; margin-bottom: 3%; padding-top: 3%;">Un but</h2>
            <p>Les « <span style="font-weight: bold; color: black;">Fraternités Saint Camille de Lellis</span> » sont une œuvre de compassion, nées en 1989 dans le but de répondre
            par un accompagnement aux besoins d’aide de personnes en difficultés personnelles, relationnelles et spirituelles.
            </p>
            <p>Elles sont composées de membres prêtres, religieux et laïcs formés à cet accompagnement et à une écoute spirituelle respectueuse de la dynamique psychologique des personnes.</p>
            <p>Ce service d’Église est reconnu et encouragé par les évêques des diocèses où les Fraternités sont implantées.</p>
            <br>
            <hr style=" margin-left: 22%; margin-top: 3%; margin-bottom: 3%; width:50%;">

            <h2 style="color: darkred; margin-bottom: 3%;">Le fonctionnement des fraternités</h2>
            <img src="../../assets/images/ph_fraternite.jpg" class="rounded img-fluid float-left" alt="img" style="margin-right: 3%; margin-bottom: 5%;">
            <p>L’accompagnement  (une heure tous les quinze jours sur plusieurs mois) est individuel  mais il est porté par toute la fraternité; les membres se réunissent régulièrement, 
                prient et discernent ensemble l’évolution des accompagnements. Le partage de ces accompagnements est réalisé dans la discrétion à l’intérieur de la Fraternité et un secret absolu est observé en dehors de celle-ci. 
                Cet accompagnement est gratuit puisqu’il est vécu au nom de l’amour du Christ.
            </p>
            <p>Donc si vous désirez :</p>
            <ul>
                <li style="list-style-type: none; "><mdb-icon fas icon="caret-right pr-3"></mdb-icon>relire votre vie sous le regard de Dieu,</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>trouver une nouvelle liberté de penser et d’agir,</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>vous ouvrir à la confiance,</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>parvenir à une nouvelle unité intérieure à la lumière de l’Évangile, signe de notre réconciliation avec nous-mêmes, avec les autres et avec Dieu,</li>
            </ul>
            
            <p>contactez par mail le secrétariat de l’Association Saint Camille de Lellis <a href="mailto:camilledelellis.secretariat@gmail.com">camilledelellis.secretariat@gmail.com</a> qui vous communiquera l’adresse des Fraternités existantes dans les diocèses suivants :</p>
            <ul>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Blois (41),</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Nantes (44),</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Beauvais (60),</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Rouen (76),</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Versailles (78),</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Saint-Denis (93),</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Créteil (94),</li>
                <li style="list-style-type: none;"><mdb-icon fas icon="caret-right pr-3"></mdb-icon>Saint-Denis de la Réunion (97).</li>
            </ul>
            <br>
            <button *ngIf="isShow" type="button" mdbBtn class="open-button relative waves-light image-clignote" (click)="gotoTop()" mdbWavesEffect style="z-index: 6;"><mdb-icon fas icon="chevron-up" size="3x" class="red-text pr-3"></mdb-icon></button>
          </div>
        </div>
    </div>
</div>