<div class="container">
    <h2 style="color: darkred; text-align: center; font-weight: bold;">LIVRES</h2> <br>
    <h5 style="color: rgb(29, 99, 190); text-align: center;"><span style="font-weight: bold; color: black">- Lien international : </span><a href="http://www.camilliani.org">www.camilliani.org</a><br>
        <span style="font-weight: bold; color: black">- Si vous souhaitez commander un livre, des cartes postales, le CD, ou avoir plus d'informations referez vous à <a href="http://famille.camillienne.free.fr/documentation.html">Ce lien</a></span>
    </h5>
  
    <div class="row">
      
        <div class="col-sm-12 col-lg-12">
          <div class="scrollspy-example z-depth-1 mt-4 px-4">

            <div class="row">
                  <div class="col-sm-3 col-lg-3 col-md-3 col-xs-6">
                    <img style="padding-top: 10%;" src="../../assets/images/livre19.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
                  </div>

                  <div class="col-sm-9 col-lg-9 col-md-9 col-xs-6">
                      <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">PRIER 15 JOURS AVEC SAINT CAMILLE DE LELLIS</h5>
                      <br>    
                      <p><span style="font-weight: bold; color: black;">Camille de Lellis</span> (1550-1614, Italie) est, comme Saint Jean de Dieu, saint
                        <span style="font-weight: bold; color: black;">patron universel des malades et du personnel hospitalier. </span>
                        Il a toujours vu le visage du Christ dans les malades et a souffert lui-même de nombreuses maladies. Il disait : « 
                        <cite>Rappelez-vous que les malades sont la pupille et le cœur de Dieu et que ce qui est fait à ces pauvres est fait à Dieu.</cite> »
                     </p>
                     <img style="margin-left: 3%;" src="../../assets/images/logo_400.jpg" width= "20%" class="img-fluid float-right" height= "20%" alt="img">
                     <p>Il a fondé l'Ordre des Serviteurs des Malades, appelés aussi les religieux camilliens, qui œuvrent auprès des malades et des exclus dans le monde. Le logo en couverture rappelle que l'année 2014 marquera 
                        <span style="font-weight: bold; color: black;">le quatrième centenaire de sa mort.</span><br>
                        « <cite>L'attention pleine d'amour et solidaire pour le malade continue à être un signe fort de crédibilité pour chaque chrétien et pour l'Eglise entière.</cite> » P. Renato Salvatore, dans la Préface du livre.
                     </p>
                  </div>
                  <hr style=" margin-left: 35%; margin-top: 3%; margin-bottom: 3%; width:25%; text-align: center;">
            </div>

            <div class="row">
                <div class="col-sm-10 col-lg-10 col-md-10 col-xs-8">  
                        <p><span style="font-weight: bold; color: black;">Marie-Christine Brocherieux, </span>mariée, mère de famille, est bénévole en aumônerie d'hôpital depuis plus de vingt ans. 
                            En lien avec les religieux camilliens, elle préside l'association de la Famille Camillienne en France, regroupant des hommes et des femmes, baptisés, qui, par profession ou par bénévolat, 
                            sont auprès de personnes malades, ou âgées, en suivant l'exemple de Saint Camille. Elle a déjà publié à Nouvelle Cité « Grégoire ou un autre regard sur les fragilisés de la vie. »
                       </p>
                       <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">EDITION NOUVELLE CITE</h5>
                       <p style="color: rgb(29, 99, 190); font-weight: bold;">Il est possible de se procurer ces livres auprès de l'éditeur,
                          ou librairie internet ou religieuse.
                      </p>
                </div>
                <div class="col-sm-2 col-lg-2 col-md-2 col-xs-4">
                    <img src="../../assets/images/mariechristine_brocherieux.jpg" width="80%" height= "80%" class="img-fluid" alt="img">
                </div>
                <hr style=" margin-left: 35%; margin-top: 3%; margin-bottom: 3%; width:25%; text-align: center;">
          </div>
                
          <div class="row">
            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-6">
              <img style="padding-top: 10%;" src="../../assets/images/livre20.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-9 col-lg-9 col-md-9 col-xs-6">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">GREGOIRE OU UN AUTRE REGARD SUR LES FRAGILISES DE LA VIE</h5>
                <br>    
                <p>« <cite>De métier, je suis un simple réparateur de pneus. Je ne suis pas médecin.</cite> » Grégoire Ahongbonon est né au Bénin en 1952, marié et père de six enfants.
                    <span style="font-weight: bold; color: black;">Après avoir été appelé dans des villages où il a vu des malades mentaux attachés aux arbres, dans la forêt, 
                    livrés aux intempéries et aux bêtes, n’attendant plus que la mort, Grégoire s’est indigné : </span>« <cite>On ne peut pas laisser l’homme dans cet état ! Pas au XXIe siècle !</cite> » 
                  <span style="font-weight: bold; color: black;">Il a fondé l’association Saint-Camille-de-Lellis qui crée et gère des centres d’accueil et de réinsertion. </span>
                  Il veut changer le regard des gens vis-à-vis des personnes qui ont une fragilité mentale. Au fil des années, dans divers pays, sont nées des associations pour aider Grégoire dans son action. 
                  <span style="font-weight: bold; color: black;">Qui donc est cet homme ordinaire qui fait des choses extraordinaires ?</span>
               </p>
            </div>
         </div>

         <br>
         <p>Marie-Christine Brocherieux est allée à sa rencontre en Côte d’Ivoire et au Bénin et a constaté que 
            <span style="font-weight: bold; color: black;">de réparateur de pneus, il est devenu réparateur de vies. </span>
            Sur un sujet délicat, aussi bien en Occident qu’en Afrique, Grégoire apporte des solutions concrètes et largement reconnues. Lui et son association ont reçu en 2005, le 
            <span style="font-weight: bold; color: black;">prix des Droits de l’Homme en Psychiatrie </span>(Genève) ; en 1998 le 
            <span style="font-weight: bold; color: black;">Prix de l’OMS pour sa lutte contre l’exclusion sociale </span>
            et en 2010 le « <span style="font-weight: bold; color: black;">Prix Van Thuân – Solidarité et Développement</span> » de la fondation San Matteo en lien avec le Conseil Pontifical « Justice et paix ». 
         </p>

         <div class="row">
            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-2">
              <img style="padding-top: 10%;" src="../../assets/images/livre1.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-4">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">L'ESPRIT DE SAINT CAMILLE DE LELLIS</h5>
                <br>    
                <p>Héros de la charité, saint Camille de Lellis met en évidence dans cet ouvrage « l’Esprit » qui l’anime.</p>
                <p>De nos jours l’esprit humain est bien fatigué des spéculations modernes dégénérant en sophisme.</p>
                <p>La Foi est le seul flambeau qui brille dans les heures ténébreuses; la Charité est force qui attire et subjugue même les plus dévoyés.</p>
                <p>Pour les simples, la Charité est une vertu qui console et vivifie; pour les superbes, les indifférents, les jouisseurs, elle est la vertu qui conquiert et illumine ; aussi, par la Charité beaucoup retrouvent la Foi ...</p>
            </div>
   
            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-2">
              <img style="padding-top: 10%;" src="../../assets/images/livre18.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-4">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">LE BIENHEUREUX HENRI REBUSCHINI</h5>
                <br>    
                <p>Plutôt que d'esprit fragile, ou bien d'insécurité congénitale ou d'excessive timidité, il faut ici parler de maladie.</p>
                <p>On peut être malade de l'estomac, comme on peut être malade de dépression.</p>
                <p>Ces deux maladies, soignées comme il faut, guérissent.</p>
                <p>Elles sont sujettes à récidive, et dans beaucoup de cas, hélàs, elles peuvent devenir chroniques.</p>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-2">
              <img style="padding-top: 10%;" src="../../assets/images/livre2.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-4">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">LA FUREUR DU JEU</h5>
                <br>    
                <p>« <cite>La Musique que je préfère est celle que font les pauvres malades dans les hôpitaux, quand l’un demande qu’on lui rince la bouche, 
                    l’autre qu’on lui fasse son lit ou qu’on lui réchauffe les pieds. Oh ! suave musique que celle-là ! 
                    C’est cette musique qui doit, par-dessus tout, réjouir les oreilles d’un ministre des infirmes.</cite> »
                </p>
                <br>
                <p style="color: rgb(29, 99, 190); text-align: right; font-weight: bold;">Camille de Lellis</p>
            </div>

            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-4">
              <img style="padding-top: 10%;" src="../../assets/images/livre3.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-8">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">VIVRE ET MOURIR D'AMOUR ...</h5>
                <br>
                <p style="color: rgb(29, 99, 190); font-weight: bold;">Nicolas d'Onofrio, Camillien </p>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-4">
              <img style="padding-top: 10%;" src="../../assets/images/livre17.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-8">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">LE CHEMIN DU RESSUSCITE</h5>
                <br>
                <p>Cet ouvrage veut faire suite à la dévotion du chemin de croix en le complétant, en l’épanouissant, en l’accomplissant, en développant la Résurrection du Christ à travers les récits bibliques des apparitions.<br>
                   S’il est possible et réconfortant pour le chrétien de rejoindre le Christ dans ses souffrances, il est plus difficile de continuer le chemin de Pâques.<br>
                   La puissance de la Résurrection dépasse tellement notre expérience habituelle.<br>
                   C’est pourtant elle qui fait de nous des chrétiens. 
                </p>
                <br>
                <p style="color: rgb(29, 99, 190); font-weight: bold; text-align: right;">Mgr Michel Golfier</p>
            </div>

            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-4">
              <img style="padding-top: 10%;" src="../../assets/images/livre13.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-8">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">AVEC CEUX QUI SOUFFRENT ...</h5>
                <br>
                <p style="color: rgb(29, 99, 190); font-weight: bold;">Bande dessinée sur la vie de Saint Camille</p>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-2">
              <img style="padding-top: 10%;" src="../../assets/images/livre14.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-4">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">UN PRENOM / UN SAINT CAMILLE</h5>
                <br>
            </div>

            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-2">
              <img style="padding-top: 10%;" src="../../assets/images/livre15.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-4">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">SAINT CAMILLE DE LELLIS</h5>
                <br>
                <p style="color: rgb(29, 99, 190); font-weight: bold;">Quitter Dieu pour Dieu <br>
                    Une vie consacrée aux malades <br> <br>
                    Brochure représentant la vie de Saint Camille
                </p>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-2">
              <img style="padding-top: 10%;" src="../../assets/images/livre4.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-4">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">LES ECRITS DE SAINT CAMILLE DE LELLIS</h5>
                <br>
            </div>

            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-2">
              <img style="padding-top: 10%;" src="../../assets/images/livre5.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-4">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">ECRITS DU BIENHEUREUX LOUIS TEZZA</h5>
                <br>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-2">
              <img style="padding-top: 10%;" src="../../assets/images/livre6.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-4">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">LA DIACONIE D'AMOUR DANS L'ORDRE DE SAINT CAMILLE</h5>
                <br>
                <p style="color: rgb(29, 99, 190); font-weight: bold; text-align: right;">Reflexion sur le 4ème voeux des Camilliens.</p>
            </div>

            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-2">
              <img style="padding-top: 10%;" src="../../assets/images/livre7.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-4">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">PERE LOUIS TEZZA</h5>
                <br>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6">
              <img style="padding-top: 10%;" src="../../assets/images/livre8.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-6">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">LA SPIRITUALITE CAMILLIENNE</h5>
                <br>
            </div>

            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6">
              <img style="padding-top: 10%;" src="../../assets/images/livre9.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-6">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">ENSEIGNEMENTS A LA FAMILLE CAMILLIENNE</h5>
                <br>
                <p>Ce livre regroupe les enseignements donnés à la Famille Camillienne Laïque par leur premier accompagnateur spirituel, le Père André Primault. <br>
                    La Famille Camillienne regroupe des soignants et des bénévoles qui œuvrent avec les religieux camilliens auprès de ceux qui souffrent. <br>
                    Tout au long de ce livre, le lecteur pourra s’imprégner de la spiritualité camillienne et découvrir d’éminentes figures de la Grande Famille de Saint Camille.
                </p>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6">
              <img style="padding-top: 10%;" src="../../assets/images/livre10.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-6">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">SAINT CAMILLE DE LELLIS</h5>
                <br>
                <p style="color: rgb(29, 99, 190); font-weight: bold;">Un saint proche des souffrants</p>
            </div>

            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6">
              <img style="padding-top: 10%;" src="../../assets/images/livre11.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-6">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">LE SAINT A LA CROIX ROUGE</h5>
                <br>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6">
              <img style="padding-top: 10%;" src="../../assets/images/livre12.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-6">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">HISTOIRE DE L'ORDRE CAMILLIEN 1550-1699</h5>
                <br>
            </div>

            <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6">
              <img style="padding-top: 10%;" src="../../assets/images/livre16.jpg" width="100%" height= "100%" class="img-fluid" alt="img">
            </div>

            <div class="col-sm-8 col-lg-4 col-md-8 col-xs-6">
                <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">SOUVENIRS DE L'ANNIVERSAIRE DES 120 ANS DE LA PROVINCE DE FRANCE DES CAMILLIENS</h5>
                <br>
            </div>
         </div>

         <br>
         <br>
         <h4 style="color: darkred; text-align: center; font-weight: bold;">Cartes Postales et images de Saint Camille</h4>
         <br>

         <!-- ******************** CAROUSEL *******************-->
            <mdb-carousel [isControls]="true" class="carousel slide carousel-slide" [animation]="'slide'">
              <mdb-carousel-item *ngFor="let image of imgTab">
                <div class="view w-100">
                  <img class="d-block w-25" style="margin-left: 35%;" [src]=image alt="First slide">
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
        <!---****************** Fin Carousel ****************-->

         <br>
         <br>
         <h4 style="color: darkred; text-align: center; font-weight: bold;">CD</h4>
         <br>
         <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">L'ORGUE ET L'ENFANCE</h5>
         <p>Des légendes aux chansons populaires, de la prière à l'école <br>
          Hervé DESABRE à l'orgue Werle de l'église Santa Maria-Maddalena de Rome
        </p>
        <p style="text-align: center;"><img style="padding-top: 3%;" src="../../assets/images/cd.jpg" width="70%" height= "70%" class="img-fluid" alt="img"></p>

         <br>
         <br>
         <h4 style="color: darkred; text-align: center; font-weight: bold;">PARRURE DE STYLO</h4>
         <br>
         <h5 style="color: rgb(29, 99, 190); text-align: justify; font-weight: bold; padding-top: 3%; font-family: 'Times New Roman';">L'ORGUE ET L'ENFANCE</h5>
         <p>Stylos à bille et criteriums avec la signature de saint Camille de Lellis</p>
         <p style="text-align: center;"><img style="padding-top: 3%;" src="../../assets/images/stylos.jpg" width="70%" height= "70%" class="img-fluid" alt="img"></p>

            <br>
            <button *ngIf="isShow" type="button" mdbBtn class="open-button relative waves-light image-clignote" (click)="gotoTop()" mdbWavesEffect style="z-index: 6;"><mdb-icon fas icon="chevron-up" size="3x" class="red-text pr-3"></mdb-icon></button>
          </div>
        </div>
    </div>
</div>